@import "src/assets/scss/base/_variable.scss";

.sign-invite-code {
  margin-bottom: 10px;
  &:hover {
    a {
      color: $primary_color;
    }
  }
}

.sign-up-creed {
  font-size: 16px;
  font-family: Futurica, serif;
  @media(max-width: 767px) {
    font-size: 14px;
  }
}
