<!-- Sign up Section start -->
<section class="auth-page theme-bg">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="auth-card">
    <div class="text-center">
      <h2>РЕГИСТРАЦИЯ</h2>
      <img alt="title-line" class="img-fluid line" src="assets/images/title-line.png">
      <div class="sign-info">
        <p class="sign-message animated bounceIn" [style.color]="error ? '#dc3545' : '#586082'"
           [style.display]="isLoading ? 'none' : 'block'">{{message}}</p>
        <i class="fa fa-circle-o-notch fa-spin sign-spinner" [style.display]="isLoading ? 'block' : 'none'"></i>
      </div>
    </div>
    <div class="main">
      <form class="auth-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputInvite">Инвайт</label>
          <i class="fa fa-info"></i>
          <input class="form-control" id="exampleInputInvite" name="invite" placeholder="Инвайт код" required="" type="text"
                 [formControl]="signForm.controls['invite']"
                 (click)="message = 'Введи свой инвайт-код или воспользуйся ссылкой, которые мы отправили тебе.'">
        </div>
        <div class="form-group">
          <label for="exampleInputLogin">Логин</label>
          <i class="fa fa-user"></i>
          <input class="form-control" id="exampleInputLogin" name="login" placeholder="Логин" required="" type="text"
                 [formControl]="signForm.controls['login']"
                 (click)="message = 'Логин должен быть от 3 до 16 символов, с латинскими буквами или цифрами, начиная с буквы'">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Пароль: </label>
          <i class="fa fa-lock"></i>
          <input class="form-control" id="exampleInputPassword1" name="password" placeholder="Пароль" required="" type="password"
                 [formControl]="signForm.controls['password']"
                 (click)="message = 'Пароль должен быть от 6 до 20 символов, латинсике буквы, большие и маленькие, включая цифры'">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Пароль</label>
          <i class="fa fa-lock"></i>
          <input class="form-control" id="exampleInputPassword2" name="passwordRepeat" placeholder="Повтор пароля" required="" type="password"
                 [formControl]="signForm.controls['passwordRepeat']"
                 (click)="message = 'Подтвердите ваш пароль'">
        </div>
        <div class="form-group sign-button">
          <button [disabled]="!signForm.valid" class="btn submit" type="submit">ГОТОВО</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Sign up Section End -->
