<div class="memetick-profile">
  <div class="row">
    <div class="col-md-12 text-center">
      <app-memetick-view [memetick]="profile?.memetick" [memetickMe]="memetickMe"></app-memetick-view>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="memetick-online">
        <span *ngIf="profile?.online"><i class="fa fa-circle" style="color: #28a745"></i> ОНЛАЙН</span>
        <span *ngIf="!profile?.online"><i class="fa fa-circle" style="color: #dc3545"></i> ОФФЛАЙН</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="memetick-coins text-strong-middle">
        <div>{{profile?.memecoins}}</div>
        <img src="assets/images/icon/memecoin.png">
        <div *ngIf="memetickMe" (click)="memecoinHistory()"><i class="fa fa-list pointer"></i></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center" *ngIf="profile?.tokens.wallet">
      <app-token-wallet [wallet]="profile?.tokens.wallet" [style.margin-top]="5"></app-token-wallet>
    </div>
  </div>

  <div *ngIf="memetickMe" class="row">
    <div class="col-md-12 text-center">
      <div class="memetick-cookie text-strong-middle">
        <div>Печеньки:</div>
        <img [src]="'assets/images/icon/cookie.png'">
        <div>{{profile.memetick?.cookies}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="memetick-control">
        <button class="btn-theme" (click)="memotypes()">МЕМОТИПЫ: <i class="fa fa-smile-o"></i></button>
        <button class="btn-theme" (click)="memes()">МЕМАСИКИ: <i class="fa fa-list"></i></button>
        <button class="btn-theme" (click)="stats()">СТАТИСТИКА: <i class="fa fa-line-chart"></i></button>
        <button class="btn-theme" (click)="follow()" *ngIf="!memetickMe">
          <span *ngIf="profile.follow">ОТПИСКА: <i class="fa fa-bell"></i></span>
          <span *ngIf="!profile.follow">ПОДПИСКА: <i class="fa fa-bell-slash"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
