<div>
  <div class="modal-header modal-section">
    <span class="modal-title">PUSH</span>
  </div>
  <div class="my-modal-body modal-body">
    <div class="push-request-icon">
      <i class="fa fa-bell"></i>
    </div>
    <div class="push-request-info">
      <p>Вы можете включить PUSH уведомления</p>
      <span style="color: darkgreen">уведомления помогут вам быть в курсе:</span>
      <ul>
        <li> - Получения пособия</li>
        <li> - Завершения роста клетки</li>
        <li> - Новых мемов подписок</li>
        <li> - Битв мемов</li>
      </ul>
      <p>Запросите и разришите использовать их</p>
      <span style="color: darkred">уведомлениями можно управлять в настройках*</span>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button class="btn-theme-inverse" (click)="close()">
      ЗАКРЫТЬ
      <i class="fa fa-close button-close" style="color: #dc3545"></i>
    </button>
    <button class="btn-theme-inverse" (click)="request()">
      ВКЛЮЧИТЬ
      <i class="fa fa-check button-check" style="color: #28a745"></i>
    </button>
  </div>
</div>
