.settings-container {
  background: whitesmoke;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.5);
  text-align: center;
}

.settings-control {
  text-align: center;
}

.settings-button {
  font-size: 20px;
  margin: 10px;
  font-family: FuturaRound, serif;
  border-radius: 30px;
  width: 300px;
  i {
    margin-left: 5px;
    font-size: 20px;
  }
  @media(max-width: 600px) {
    font-size: 16px;
    margin-top: 15px;
    font-family: FuturaRound, serif;
    border-radius: 30px;
    width: 250px;
  }
}

.settings-title {
  font-size: 25px;
  border-bottom: 3px solid #8136EC;
  font-weight: normal;
  padding-bottom: 20px;
}

.my-button-close {
  margin: auto auto 10px;
}

