<div class="settings-container container">
  <p class="settings-title">НАСТРОЙКИ</p>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="settings-control">
        <button class="settings-button btn-theme" (click)="changeAvatar()">
          ВЫБРАТЬ АВАТАР
          <i class="fa fa-user"></i>
        </button>
        <button class="settings-button btn-theme" (click)="changeNick()">
          СМЕНИТЬ НИК
          <i class="fa fa-edit"></i>
        </button>
        <button class="settings-button btn-theme" (click)="pushNotification()">
          УВЕДОМЛЕНИЯ
          <i *ngIf="setting.pushWork" class="fa fa-bell"></i>
          <i *ngIf="!setting.pushWork" class="fa fa-bell-slash"></i>
        </button>
        <button class="settings-button btn-theme" (click)="logOut()">
          ВЫЙТИ
          <i class="fa fa-sign-out"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="my-button-close main-button-close" (click)="back()">
  <i class="fa fa-close"></i>
</div>

<div class="memetick-back mem-back"></div>
