.settings-control {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 767px) {
    width: 300px;
  }
}

.settings-button {
  font-size: 20px;
  margin: 10px;
  font-family: FuturaRound, serif;
  border-radius: 30px;
  width: 300px;
  i {
    margin-left: 5px;
    font-size: 20px;
  }
  @media(max-width: 767px) {
    font-size: 16px;
    margin-top: 15px;
    border-radius: 30px;
    width: 250px;
  }
}

.settings-title {
  font-size: 25px;
  border-bottom: 3px solid #8136EC;
  font-weight: normal;
  padding-bottom: 20px;
}

.my-button-close {
  margin: auto auto 10px;
}

