<!-- faq section -->
<section class="theme-bg faq " id="faq">
  <div #modalText style="display: none">
    Всего у мема может быть 7 состояний, на каждые 5 этапов эволюции и 2 конечных. Каждое состояние этапа эволюции длится как и сам этап - 1 день.
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">СОСТОЯНИЯ МЕМОВ</h2>
          <app-open-intro-modal [content]="modalText.textContent" [title]="'СОСТОЯНИЯ'"></app-open-intro-modal>
          <img alt="title-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
    </div>
    <div class="row faq-row">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div *ngFor="let step of steps" [ngClass]="{'card': true, 'mb-3': step.number != 7}">
            <div class="card-header" [attr.id]="step.idHeading">
              <p class="mb-0">
                <button [attr.aria-controls]="step.idHeading" aria-expanded="false" class="faq-link my-btn" [attr.data-target]="'#' + step.idCollapse"
                        data-toggle="collapse" type="button" >
                  {{step.number}} <span class="stepName" [style.color]="step.color">{{step.name}}</span>
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
              </p>
            </div>
            <div [attr.aria-labelledby]="step.idHeading" class="collapse" data-parent="#accordionExample" [attr.id]="step.idCollapse">
              <div class="card-body">
                {{step.description}}
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 text-center">
        <img alt="" class="img-fluid" src="assets/images/faq.png">
      </div>
    </div>
  </div>
</section>
<!-- end faq section -->
