.control {
  position: absolute;
}

.control-panel {
  background: #8136EC;
  width: 54px;
  height: 54px;
  position: fixed;
  z-index: 69;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.7);
  i {
    font-size: 28px;
    color: whitesmoke;
    position: absolute;
  }
}

.control-scope {
  top: 0;
  left: 0;
  border-radius: 0 0 50px 0;
  i {
    top: 7px;
    left: 9px;
  }
}

.control-menu {
  top: 0;
  right: 0;
  border-radius: 0 0 0 50px;
  i {
    top: 5px;
    right: 10px;
  }
}

.control-events {
  bottom: 0;
  right: 0;
  border-radius: 50px 0 0 0;
  i {
    bottom: 6px;
    right: 6px;
  }
}

.control-items {
  bottom: 0;
  left: 0;
  border-radius: 0 50px 0 0;
  i {
    bottom: 5px;
    left: 7px;
  }
}

.control-content {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 42;
  background-color: #495057;
  box-shadow: 0 0 0 3px rgba(255,255,255,0.7);
}

.control-scope-content {
  top: 0;
  left: 0;
  border-radius: 0 0 30px 0;
}

.control-menu-content {
  top: 0;
  right: 0;
  border-radius: 0 0 0 30px;
}

.control-events-content {
  bottom: 0;
  right: 0;
  border-radius: 30px 0 0 0;
}

.control-items-content {
  bottom: 0;
  left: 0;
  border-radius: 0 30px 0 0;
}

.control-closer {
  width: 72px;
  height: 72px;
  background-color: #8136EC;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 69;
  text-align: center;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  i {
    color: #d85040;
    font-size: 64px;
    margin-top: 2px;
  }
}
