.control {
  position: absolute;
}

.control-panel {
  background: #8136EC;
  width: 54px;
  height: 54px;
  position: fixed;
  z-index: 69;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.7);
  i {
    font-size: 28px;
    color: whitesmoke;
    position: absolute;
  }
}

.control-scope {
  top: 0;
  left: 0;
  border-radius: 0 0 50px 0;
  i {
    top: 7px;
    left: 9px;
  }
}

.control-menu {
  top: 0;
  right: 0;
  border-radius: 0 0 0 50px;
  i {
    top: 5px;
    right: 10px;
  }
}

.control-items {
  bottom: 0;
  left: 0;
  border-radius: 0 50px 0 0;
  i {
    bottom: 5px;
    left: 7px;
  }
}

.control-events {
  bottom: 0;
  right: 0;
  border-radius: 50px 0 0 0;
  i {
    bottom: 6px;
    right: 6px;
  }
}
