<!--MENU-->
<div class="control-menu control-panel animated slideInLeft"
     [ngClass]="{'slideOutLeft': hide, 'control-panel-inverse': !hideContentMenu}"
     (click)="close = true; hideContentMenu = false">
  <i class="fa fa-bars"></i>
</div>
<div class="control-menu-content control-content animated faster slideInLeft" *ngIf="!hideContentMenu">
  <app-control-menu (closeEvent)="hideAll()"></app-control-menu>
</div>

<!--SCOPE-->
<div class="control-scope control-panel animated slideInDown"
     [ngClass]="{'slideOutUp': hide, 'control-panel-inverse': !hideContentScope}"
     (click)="close = true; hideContentScope = false">
  <i class="fa fa-th-large"></i>
</div>
<div class="control-scope-content control-content animated faster slideInDown" *ngIf="!hideContentScope">
  <app-control-scope (closeEvent)="hideAll()"></app-control-scope>
</div>

<!--EVENTS-->
<div class="control-bells control-panel animated slideInRight"
     [ngClass]="{'slideOutRight': hide, 'control-panel-inverse': !hideContentEvents}"
     (click)="close = true; hideContentEvents = false;">
  <i class="fa fa-bell"></i>
  <div *ngIf="counter?.countBells != 0 && counter != null && hideContentEvents" class="control-counter">{{counter?.countBells}}</div>
</div>
<div class="control-bells-content control-content animated faster slideInRight" *ngIf="!hideContentEvents">
  <app-control-bells></app-control-bells>
</div>

<!--ITEMS-->
<div class="control-items control-panel animated slideInUp"
     [ngClass]="{'slideOutDown': hide, 'control-panel-inverse': !hideContentItems}"
     (click)="close = true; hideContentItems = false;">
  <i class="fa fa-archive" ></i>
  <div *ngIf="counter?.countItems != 0 && counter != null && hideContentItems" class="control-counter">{{counter?.countItems}}</div>
</div>
<div class="control-items-content control-content animated faster slideInUp" *ngIf="!hideContentItems">
  <app-control-items></app-control-items>
</div>

<!--CLOSE-->
<div class="control-closer main-button-close animated rotateIn" (click)="hideAll()" *ngIf="close">
    <i class="fa fa-close"></i>
</div>
