<div class="control">
  <div class="control-scope control-panel animated slideInLeft" [ngClass]="{'slideOutLeft': hide}">
    <i class="fa fa-clipboard"></i>
  </div>
  <div class="control-menu control-panel animated slideInDown" [ngClass]="{'slideOutUp': hide}">
    <i class="fa fa-bars"></i>
  </div>
  <div class="control-items control-panel animated slideInUp" [ngClass]="{'slideOutDown': hide}">
    <i class="fa fa-dropbox"></i>
  </div>
  <div class="control-events control-panel animated slideInRight" [ngClass]="{'slideOutRight': hide}">
    <i class="fa fa-bell"></i>
  </div>
</div>
