<div *ngIf="show">
<!--MENU-->
<div class="control-menu btn-panel"
     [ngClass]="{'control-panel-inverse': !hideContentMenu}"
     (click)="close = true; hideContentMenu = false">
  <i class="control-icon fa fa-bars"></i>
</div>
<div class="control-menu-content control-content animated faster slideInLeft" *ngIf="!hideContentMenu">
  <app-control-menu (closeEvent)="hideAll()"></app-control-menu>
</div>

<!--BELLS-->
<div class="control-bells btn-panel"
     [ngClass]="{'control-panel-inverse': !hideContentBells}"
     (click)="close = true; hideContentBells = false;">
  <i class="control-icon fa fa-bell"></i>
  <div *ngIf="showCountBells && hideContentBells" [@counterState]="countBells" class="control-counter">{{countBells}}</div>
</div>
<div class="control-bells-content control-content animated faster slideInDown" *ngIf="!hideContentBells">
  <app-control-bells (closeEvent)="hideAll()"></app-control-bells>
</div>

<!--SCOPE-->
<div class="control-scope btn-panel"
     [ngClass]="{'control-panel-inverse': !hideContentScope}"
     (click)="close = true; hideContentScope = false">
  <i class="control-icon fa fa-th-large"></i>
</div>
<div class="control-scope-content control-content animated faster slideInRight" *ngIf="!hideContentScope">
  <app-control-scope (closeEvent)="hideAll()"></app-control-scope>
</div>

<!--ITEMS-->
<div class="control-items btn-panel"
     [ngClass]="{'control-panel-inverse': !hideContentItems}"
     (click)="close = true; hideContentItems = false;">
  <i class="control-icon fa fa-archive" ></i>
  <div *ngIf="showCountItems && hideContentItems" [@counterState]="countItems" class="control-counter"><i class="fa fa-exclamation"></i></div>
</div>
<div class="control-items-content control-content animated faster slideInUp" *ngIf="!hideContentItems">
  <app-control-items (closeEvent)="hideAll()"></app-control-items>
</div>

<!--CLOSE-->
<div class="control-closer main-button-close animated rotateIn" (click)="hideAll()" *ngIf="close">
    <i class="fa fa-close"></i>
</div>
</div>
