<div class="meme-best-comment">
    <div class="meme-best-comment-row">
      <div class="meme-best-comment-image" (click)="memetickView()">
        <img [src]="avatar">
      </div>
      <div class="meme-best-comment-text">
        <div fittext [minFontSize]="minText" [maxFontSize]="maxText">{{comment.comment}}</div>
      </div>
      <div class="meme-best-comment-point">
        {{comment.point}}
      </div>
      <div class="meme-best-comment-icon" (click)="commentsView()">
        <div>
          <i class="fa fa-angle-up"></i>
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
  </div>
</div>
