<div>
  <div class="modal-header modal-section">
    <span class="modal-title step-title">СУПЕР МЕССЕДЖИ</span>
  </div>
  <div class="modal-body">
    <div class="donate-msg-info">
      😎 Здесь отображаются случайные "Месседжи", тех кто поддержал Мемастик
      <a [href]="donatHref" target="_blank"> донатом </a> 💸
      Ты тоже можешь сделать свой "Месседж"! Оставь остроумное послание, цитату или даже ссылку на что нибудь 😉
      <br/>
      <button class="btn-theme btn-donate" type="submit" (click)="toDonaters()">
        ПОДДЕРЖАТЬ <i class="fa fa-rocket" aria-hidden="true"></i>
      </button>
      <p>
        <a [href]="msgsHref">список месседжей</a>
      </p>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
