<div class="chat-message animated faster"
     [ngClass]="!message.my ? 'chat-message-direct fadeInLeft' : 'fadeInRight'">
  <div class="chat-message-warp">
    <div class="chat-message-avatar" (click)="memetick()">
      <img [src]="avatar" alt="..."/>
    </div>
    <div class="chat-message-content">
      <div class="chat-message-nick">{{message.nick}}</div>
      <div class="chat-message-text" *ngIf="message.mode == modes.TEXT">
        {{message.text}}
      </div>
      <div class="chat-message-sticker" *ngIf="message.mode == modes.STICKER" (click)="memotpye()">
        <img [src]="message.sticker">
      </div>
    </div>
    <div class="chat-message-delete" *ngIf="withDelete" (click)="delete()">
      <i class="fa fa-trash"></i>
    </div>
  </div>
</div>
