<div class="chat-message" [ngClass]="{'chat-message-direct fadeInLeft': this.message.direct, 'fadeInRight': !this.message.direct, 'animated faster': this.message.anim}">
  <div class="chat-message-warp" [ngClass]="{'chat-message-inverse': this.message.my, 'chat-message-full': this.minWidth}">
    <div class="chat-message-avatar" (click)="memetick()">
      <img [src]="avatar" alt="..."/>
    </div>
    <div class="chat-message-content">
      <div class="chat-message-nick">{{message.nick}}</div>
      <div class="chat-message-text" *ngIf="message.mode == modes.TEXT">
        {{message.text}}
      </div>
      <div class="chat-message-sticker" *ngIf="message.mode == modes.STICKER" (click)="memotpye()">
        <img [src]="message.sticker">
      </div>
    </div>
    <div class="chat-message-delete" *ngIf="withDelete" (click)="delete()">
      <i class="fa fa-trash"></i>
    </div>
  </div>
</div>
