@import "src/assets/scss/base/_variable.scss";

.chat-message {
  width: 100%;
  text-align: right;
  padding-left: 10px;
  padding-right: 0;
}

.chat-message-avatar {
  float: left;
  cursor: pointer;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  @media(max-width: 767px) {
    padding: 3px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}

.chat-message-warp {
  display: inline-block;
  background-color: white;
  border-radius: 50px 0 0 50px;
  border-width: 5px;
  border-color: $primary_color;
  border-style: solid;
  border-right-style: none;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 0 10px 0 rgba(42,42,42,.50);
  margin-top: 15px;
  margin-left: auto;
  margin-right: 0;

  @media(max-width: 767px) {
    padding: 5px;
    margin-top: 10px;
    border-width: 3px;
  }
}

.chat-message-content {
  padding-right: 54px;
  padding-left: 54px;

  text-align: left;

  @media(max-width: 767px) {
    padding-right: 42px;
    padding-left: 42px;
  }
}

.chat-message-nick {
  font-family: Gost, serif;
  font-size: 22px;

  @media(max-width: 767px) {
    font-size: 18px;
  }
}

.chat-message-text {
  font-family: FuturaRound, serif;
  font-size: 18px;

  word-break: break-word;
  white-space: pre-wrap;

  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.chat-message-delete {
  position: absolute;
  top: 20px;
  right: 5px;

  i {
    cursor: pointer;
    color: #be3b31;
  }
}

.chat-message-direct {
  text-align: left;

  padding-left: 0;
  padding-right: 10px;

  .chat-message-avatar {
    float: right;
  }

  .chat-message-warp {
    margin-right: auto;
    margin-left: 0;
    border-right-style: solid;
    border-left-style: none;
    border-radius: 0 50px 50px 0;
  }

  .chat-message-content {
    text-align: right;
  }

  .chat-message-delete {
    right: 0;
    left: 5px;
  }
}
