<!-- Feature section -->
<section class="theme-bg feature" id="feature">
  <div class="container">
    <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">ВОТ НАШИ ФИЧИ</h2>
          <img alt="white-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline">
            <ul>
              <li class="timeline">
                <h4 class="sub-title">СОЗДАВАТЬ МЕМ</h4>
                <p class="">дом посадил, дерево построил, а кто бдует мем воспитывать?</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">ГОЛОСУЙ ЗА ЛУЧШИЕ МЕМЫ</h4>
                <p class="">голосуй не голосуй лучше пряничек пожуй</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">СКРЕЩИВАЙ МЕМЫ</h4>
                <p class="">когда твой мем достигнет полового созревания у вас будет неловкий разговор</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">МОДИФИЦИРУЙ</h4>
                <p class="">мемитически модифицированные продукты - наше будущее</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 future-mobile">
        <img alt="feature-mob" class="img-fluid" src="assets/images/feature-mob.png">
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline-right">
            <ul class="text-left">
              <li class="timeline-right">
                <h4>ЗАРАБАТЫВАЙ МЕМКОЙНЫ</h4>
                <p class="">может хотябы тут у тебя будет достаточно денег</p>
              </li>
              <li class="timeline-right">
                <h4>СОБИРАЙ МЕМОТИПЫ</h4>
                <p class="">тебе можект показаться, что ты где-то уже это видел... так вот, тебе не показалось</p>
              </li>
              <li class="timeline-right">
                <h4>ДОСТИГАЙ ЗВАНИЙ</h4>
                <p class="">придумай самый орный мемас и получи мембелевскаю премию</p>
              </li>
              <li class="timeline-right">
                <h4>СРАЖАЙСЯ С ИГРОКАМИ</h4>
                <p class="">го пвп я эволюционировал (только не бей людей в реальной жизни, это плохо)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Feature section -->
