.mining-warp {
  background-color: #212529;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -69;
}

.mining-head {
  span {
    color: white;
    font-size: 32px;
  }

  div {
    margin-right: auto;
    margin-left: auto;
    color: #bdbdbc;
    margin-top: 10px;
    font-size: 2.5vw;
  }
}

.mining-content {
  .mining-coin {
    width: 128px;
    height: 128px;
  }
  .mining-block {
    height: 156px;
    width: 156px;
    position: absolute;
  }
  .mining-axe {
    width: 128px;
    height: 128px;
    position: absolute;
  }
}

.mining-foot {
  div {
    margin-bottom: 5px;
  }

  span {
    color: white;
    font-size: 24px;
  }

  img {
    margin-left: 5px;
    margin-top: -10px;
    width: 24px;
    height: 24px;
  }

  button {
    font-size: 20px;
  }
}






body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1e23;
}

.mining-flame {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background-color: #fdef34;
  filter: blur(50px);
  border-radius: 50%;
  z-index: -50;
  animation: flicker-background 4000ms ease-in infinite;
}

@keyframes flicker-background {
  50% {
    transform: scale(0.8);
  }
}
