.step-panel {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 69px;
  width: 300px;
  border-radius: 30px 30px 0 0;
  background-color: whitesmoke;
  padding: 5px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  -webkit-box-shadow: 0px 10px 20px 5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0,0,0,1);
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,1);
}

.step-panel-img {
  height: 100%;
  width: 20%;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.step-panel-name {
  height: 100%;
  width: 60%;
  margin-top: 14px;
  span {
    font-size: 20px;
  }
}

.step-panel-close {
  height: 100%;
  width: 20%;
  margin-top: 7px;
  i {
    color: #6b25fc;
    font-size: 48px;
  }
  &:hover {
    color: #d85040;
  }
}

.step-panel-list {
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  width: 300px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 5px 69px;
}

.step-panel-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 69px;
  padding: 5px;
  text-align: center;
  &:hover {
    border-radius: 30px;
    background-color: #bababa;
  }
}
