@font-face {
  font-family: "Gost";
  src: url(/assets/fonts/a_Gost.ttf);
}

@font-face {
  font-family: "Futurica";
  src: url(/assets/fonts/a_Futurica.ttf);
}

@font-face {
  font-family: "FuturaRound";
  src: url(/assets/fonts/a_FuturaRound.ttf);
}

@font-face {
  font-family: "MontHeavy";
  src: url(/assets/fonts/a_MontHeavy.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/a_Lato.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/a_Roboto.ttf);
}
