@import 'base/variable';
@import 'base/style';
@import 'base/responsive';

// блять что
.ng5-slider.vertical .ng5-slider-bar-wrapper {
  padding: 0 !important;
}

.card-warp {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  position: fixed;

  @media(max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}

.card-content {
  width: 100%;
  height: 100%;
  padding: 30px 30px 100px;
  border-radius: 50px 50px 0px 0px;
  background-color: whitesmoke;

  &::-webkit-scrollbar-track {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media(max-width: 767px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.card-close {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 7px;
  bottom: 15px;
  z-index: 54;
}

.accept-modal-content {
  .modal-content {
    background-color: transparent;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    border: none;
  }
}

.title-logo {
  cursor: pointer;
  border-radius: 0 0 30px 30px;
  width: 300px;
  height: 72px;
  background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  img {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    height: auto;
  }
  @media(max-width: 767px) {
    width: 200px;
    height: 54px;
    img {
      max-width: 200px;
    }
  }
}

.dnt-rating-title {
  text-align: center;
  margin-top: 5px;

  span {
    display: inline-block;
    margin-top: 10px;
    font-size: 42px;
    font-family: MontHeavy, serif;
  }
  div {
    font-size: 18px;
    font-family: FuturaRound, serif;
    line-height: 20px;
  }
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  @media(max-width: 767px) {
    span {
      font-size: 28px;
      font-family: MontHeavy, serif;
    }
    div {
      font-size: 16px;
    }
    button {
      font-size: 18px;
    }
  }
}

.dnt-rating-table {
  padding: 5px;
  background-color: whitesmoke;
  margin-top: 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

.sign-button {
  margin-bottom: 0 !important;
  margin-top: 30px;

  button {
    font-size: 25px;
    border-radius: 30px;
  }
}

.icon-form {
  cursor: pointer;
  width: 72px;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: -6px;
  margin-right: 12px;
  background-color: $middle_color;
  border-radius: 30px;
  color: white;
}

.header-form {
  width: 320px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5px;
}

.sign-spinner {
  color: darkorange;
  font-size: 23px;
  left: 0;
  right: 0;
}

.sign-info {
  margin-top: 15px;
}

.sign-message {
  font-size: 20px;
}

.mem-back {
  background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.battle-back {
  background: linear-gradient(to right, rgba(220,53,69,1) 0%, rgba(129,54,236,1) 40%, rgba(129,54,236,1) 60%, rgba(49,54,195,1) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mem-empty {
  margin-top: 50px;
}

.pz-zoom-button {
  margin-bottom: 69px;
  margin-left: -29px !important;
}

.sub-href {
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: #6b25fc;
  }
}

.control-content-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {width:0;}
}

.control-content-empty {
  width: 100%;
  height: 42px
}

.main-button-close {
  width: 72px;
  height: 72px;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  z-index: 69;
  text-align: center;
  cursor: pointer;
  i {
    color: #8136EC;
    font-size: 64px;
    margin-top: 2px;
  }
  &:hover {
    i {
      color: #dc3545;
    }
  }
}

.main-research-control {
  text-align: center;
  margin-bottom: 10px;
  button {
    font-size: 20px;
    max-width: 100%;
    margin: auto;
    font-family: FuturaRound, serif;
    border-radius: 30px;
  }
  span {
    font-size: 18px;
    margin: 5px;
    font-family: FuturaRound, serif;
    img {
      width: 32px;
    }
  }
  @media(max-width: 767px) {
    button{
      font-size: 14px;
      padding: 5px 20px;
    }
    span {
      font-size: 14px;
    }
  }
}

.black-and-white {
  filter: grayscale(100%);
}

.fixed-top-my {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.shop-border {
  border-style: dashed;
  border-color: #495057;
  border-radius: 30px;
  border-width: 3px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  @media(max-width: 767px) {
    width: 300px;
  }
}

.button-picker {
  padding: 5px;
  cursor: pointer;

  i {
    font-size: 72px;
    color: $primary_color;
  }
  img {
    width: 72px;
    height: 72px;
  }
  p {
    font-family: Futurica, serif;
    font-size: 24px;
    margin-bottom: 0;
  }
  &:hover {
    img {
      animation: scale 0.5s;
      animation-fill-mode: forwards;
    }
    i {
      color: #333333;
    }
  }
  @media(max-width: 767px) {
    img {
      width: 48px;
      height: 48px;
    }
    p {
      font-size: 12px;
    }
    i {
      font-size: 54px;
    }
  }
}

@keyframes scale {
  100% {
    transform: scale(1.3);
  }
}

.button-big {
  padding: 5px;
  cursor: pointer;

  img {
    width: 54px;
    height: 54px;
  }
  span {
    vertical-align: middle;
    font-size: 30px;
    margin-left: 5px;
  }
  p {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media(max-width: 767px) {
    img {
      width: 48px;
      height: 48px;
    }
    p {
      font-size: 16px;
    }
  }

  .button-biп-content {
    background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);
    border-radius: 50px;
    color: white;
    width: 90%;
    margin: 10px auto;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #6b25fc;
    }

    @media(max-width: 767px) {
      margin: 5px auto;
      height: 54px;
      span {
        font-size: 20px;
      }
    }
  }
}

.super-main-title {
  font-size: 42px;
  color: whitesmoke;
  margin-top: 15px;
  font-family: FuturaRound, serif;
  text-align: center;
  @media(max-width: 767px) {
    font-size: 24px;
  }
}

.super-main-logo {
  margin-top: 10px;
  text-align: center;
  img {
    width: 350px;
  }
  @media(max-width: 767px) {
    img {
      width: 300px;
    }
  }
}

.select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes spinMemeType {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.my-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $middle_color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary_color;
  }
}

.col-picker {
  @media(max-width: 767px) {
    padding-right: 2px;
    padding-left: 2px;
    p {
      display: none;
    }
  }
}

.canvas-container {
  margin-left: auto;
  margin-right: auto;
}

.my-margin-top {
  margin-top: 15px;
}

.my-margin-bot {
  margin-bottom: 15px;
}

.align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mini-btn {
  background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  margin-bottom: 5px;
  color: white;
  padding: 3px;

  &:hover {
    background: #6b25fc;
  }
}
