@import 'base/variable';
@import 'base/style';
@import 'base/responsive';

.sign-button {
  margin-bottom: 0 !important;
  margin-top: 40px;

  button {
    font-size: 25px;
    border-radius: 30px;
  }
}

.icon-form {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #6b25fc;
  position: absolute;
  border-left: 1px solid #d8d8d8;
  top: 6px;
  right: 5px;
}

.header-form {
  width: 320px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5px;
}

.sign-spinner {
  color: darkorange;
  font-size: 23px;
  left: 0;
  right: 0;
}

.sign-info {
  margin-top: 15px;
}

.sign-message {
  font-size: 20px;
}

.mem-back {
  background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pz-zoom-button {
  margin-bottom: 69px;
  margin-left: -29px !important;
}

.sub-href {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  &:hover {
    color: #6b25fc;
  }
}

.control-content-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {width:0;}
}

.control-content-empty {
  width: 100%;
  height: 42px
}

.main-button-close {
  width: 72px;
  height: 72px;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 69;
  text-align: center;
  i {
    color: #8136EC;
    font-size: 64px;
    margin-top: 2px;
  }
  &:hover {
    i {
      color: #dc3545;
    }
  }
}

.main-research-control {
  text-align: center;
  margin-bottom: 10px;
  button {
    font-size: 20px;
    max-width: 100%;
    margin: auto;
    font-family: FuturaRound, serif;
    border-radius: 30px;
  }
  @media(max-width: 767px) {
    button{
      font-size: 16px;
    }
  }
}

.black-and-white {
  filter: grayscale(100%);
}

.fixed-top-my {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.shop-border {
  border-style: dashed;
  border-color: #495057;
  border-radius: 30px;
  border-width: 3px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  @media(max-width: 767px) {
    width: 300px;
  }
}
