<!-- faq section -->
<section class="theme-bg faq " id="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">Очень интересные вопросы</h2>
          <img alt="title-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
    </div>
    <div class="row faq-row">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <div class="card mb-3">
            <div class="card-header" id="headingzero">
              <h5 class="mb-0">
                <button aria-controls="collapsezero" aria-expanded="false" class="faq-link" data-target="#collapsezero"
                        data-toggle="collapse" type="button">
                  01 ???
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
              </h5>
            </div>

            <div aria-labelledby="headingzero" class="collapse" data-parent="#accordionExample" id="collapsezero">
              <div class="card-body">
                блаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблаб
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button aria-controls="collapseOne" aria-expanded="false" class="faq-link" data-target="#collapseOne"
                        data-toggle="collapse" type="button">
                  02 ???
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
              </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="collapseOne">
              <div class="card-body">
                блаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблаб
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button aria-controls="collapseTwo" aria-expanded="false" class="faq-link" data-target="#collapseTwo"
                        data-toggle="collapse" type="button">
                  03 ???
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
              </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
              <div class="card-body">
                блаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблаб
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button aria-controls="collapseThree" aria-expanded="false" class="faq-link" data-target="#collapseThree"
                        data-toggle="collapse" type="button">
                  04 ???
                  <i class="fa fa-angle-down pull-right"></i>
                </button>
              </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordionExample" id="collapseThree">
              <div class="card-body">
                блаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблабблаблабалаблааблабалаблабалбалаблаблаблаб
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <img alt="" class="img-fluid" src="assets/images/faq.png">
      </div>
    </div>
  </div>
</section>
<!-- end faq section -->
