<div class="evolve-survive">
  <div class="evolve-image">
    <img *ngIf="evolve?.immunity" src="assets/images/icon/immunity.png"/>
    <img *ngIf="!evolve?.immunity" class="black-and-white" src="assets/images/icon/immunity.png"/>
  </div>
  <div class="evolve-text">
    <p *ngIf="!evolve?.immunity">Мем выживает, на нём можно применить антибиотик, чтобы гарантировать отбор</p>
    <p *ngIf="evolve?.immunity">У мема повышенный иммунитет к выживанию, шанс отбора гарантирован</p>
  </div>
  <div class="main-research-control" *ngIf="evolve?.canApplyToken">
    <button *ngIf="!evolve?.immunity" class="btn-theme" (click)="chance()">
      ИММУНИЗИРОВАТЬ <img [src]="img">
    </button>
  </div>
</div>
<app-loader [message]="message" [status]="status"></app-loader>
<app-accept [img]="img" (accept)="acceptTokenResult($event)"></app-accept>
