.evolve-image {
  img {
    width: 100px;
    margin: 15px;
  }
}

.evolve-survive {
  text-align: center;
  margin-top: 10px;
}

.evolve-text {
  text-align: center;
  max-width: 500px;
  p {
    font-size: 20px;
  }
}

.evolve-control {
  text-align: center;
  button {
    font-size: 20px;
    margin: 15px;
    font-family: FuturaRound, serif;
    border-radius: 30px;
  }
}
