<div class="evolve-survive">
  <div class="evolve-chance">
    <p>ШАНС ВЫЖИТЬ</p>
    <div class="evolve-chance-circle" [style.background-color]="evolve?.immunity ? '#EE1F3B' : ''">
      <p>{{evolve?.chance}}%</p>
    </div>
  </div>
  <div class="evolve-text">
    <p *ngIf="!evolve?.immunity">Мем проходит отбор, вы можете дать антибиотик для иммунитета чтобы гарантировать выживание</p>
    <p *ngIf="evolve?.immunity">У мема повышенный иммунитет</p>
  </div>
  <div class="evolve-control">
    <button *ngIf="!evolve?.immunity" class="btn-theme" (click)="chance()">ИММУНИЗИРОВАТЬ</button>
  </div>
</div>
<app-loader [message]="message" [status]="status"></app-loader>
<app-token-accept (accept)="acceptSelectionResult($event)"></app-token-accept>

