.memotypet-rarities {
  border-radius: 30px;
  margin-top: 15px;

  span {
    font-family: Gost, serif;
    font-size: 18px;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .table th, .table td {
    vertical-align: middle;
    padding: 5px !important;
    text-align: left;
  }

  .table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: dashed #495057;
  }
}
