.memotypet-rarities {
  border-style: dashed;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  margin-top: 15px;
  p {
    font-family: FuturaRound, serif;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-left: 25px;
  }
  div {
    font-family: Gost, serif;
    font-size: 18px;
    text-align: left;
    i {
      margin-right: 10px;
    }
  }
}
