<div>
  <div class="modal-header modal-section">
    <span class="modal-title">МЕМОТИПЫ</span><!-- make modal with input component -->
  </div>
  <div class="modal-body">
    <div *ngIf="isLoad" class="flex-center-absolute">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="!isLoad">
      <div *ngFor="let set of collection">
        <app-memotype-set-head [set]="set" [showCount]="false"></app-memotype-set-head>
        <div class="memotype-delimer"></div>
        <div class="memotype-list">
          <div *ngFor="let memotype of set.memotypes">
            <app-memotype-element [memotype]="memotype" [showCount]="false" [showTitle]="false"></app-memotype-element>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
