<app-template-modal [title]="'МЕМОТИПЫ'">
  <div *ngIf="!isLoad; else memotypeLoad">
    <owl-carousel [carouselClasses]="['team-slider owl-carousel owl-theme owl-dots-top']" [options]="memotypesCarousel">
    <div *ngFor="let set of collection" class="memotype-wrap">
      <app-memotype-set-head [set]="set" [showInfo]="false" [showCount]="false"></app-memotype-set-head>
      <div class="memotype-delimer"></div>
      <div class="memotype-list my-scroll">
        <div *ngFor="let memotype of set.memotypes">
          <app-memotype-element
            [memotype]="memotype"
            [showCount]="false"
            [showTitle]="false"
            (click)="clickMemotype(memotype)">
          </app-memotype-element>
        </div>
      </div>
    </div>
    </owl-carousel>
    <button class="btn-theme" (click)="toShop()">КУПИТЬ<i class="fa fa-shopping-cart"></i></button>
  </div>
  <ng-template #memotypeLoad>
    <div style="margin: 30px">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</app-template-modal>

<app-memotype-view></app-memotype-view>

