<div class="mem-back"></div>

<app-spinner class="flex-center-absolute" *ngIf="isLoad"></app-spinner>

<div *ngIf="!isLoad">

  <div *ngIf="!isLogin">
    <div class="logo title-logo animated slideInDown" (click)="toStart()">
      <img src="assets/images/footer-logo.png">
    </div>

    <div class="image flex-center-absolute">
      <img [src]="memeURL || ''">
    </div>
    <div class="meme-share-button animated slideInUp" (click)="toStart()">
      <button class="btn-theme-inverse">🤔 А ГДЕ ЭТО Я ?</button>
    </div>
  </div>

  <div *ngIf="isLogin" class="meme-share-login-warp">
    
    <app-memes-page
      (viewer)="memeView($event)"
      (researcher)="memeResearch($event)"
      [data]="memeData">
    </app-memes-page>

    <app-meme-research class="super-absolute"></app-meme-research>
    <app-meme-view class="super-absolute"></app-meme-view>

    <div class="share-button main-button-close" (click)="toHome()">
      <i class="fa fa-home"></i>
    </div>
  </div>

</div>
