<!--testimonail page -->
<section class="testimonial" id="testimonial">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div #modalText style="display: none">
    Токены это ресурс благодаря которому меметики
    проводят свои исследования. На каждый этап эволюции есть свой токен.
    Токены выдают ежедневно в пособиях.
    Чем выше уровень меметика тем больше токенов он получает.
    Так же токены можно получить за различные достижения и 'Капсулы Шрёдингера'
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center tokens-title">
        <div class="section-title">
          <h2>ТОКЕНЫ ИССЛЕДОВАНИЯ</h2>
          <app-open-intro-modal [content]="modalText.textContent" [title]="'ТОКЕНЫ'"></app-open-intro-modal>
          <img alt="title-line" class="img-fluid" src="assets/images/title-line.png">
        </div>
      </div>
      <div class="col-md-12">
        <div class="testimonil-box">
          <!-- If images array is dynamically changing pass this array to [items] input -->
          <owl-carousel [carouselClasses]="['testimonial-slider owl-carousel  owl-theme']" [items]="testimonial"
                        [options]="testimonialCarousel">
            <div *ngFor="let testimonials of testimonial" class="item testi-profile">
              <div class="media">
                <div class="animated-circle">
                  <img [src]="testimonials.image" alt="1" class="img-fluid align-self-center">
                </div>
                <div class="media-body">
                  <h3 class="mt-0 sub-title">{{testimonials.name}}  ({{testimonials.designation}})</h3>
                  <p>{{testimonials.description}}</p>
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end testimonial section -->
