<div class="lab-warn-screen" *ngIf="show">
  <div class="lab-warn-screen-text">
    У ТЕБЯ СЛИШКОМ МАЛЕНЬКИЙ - ЭКРАН 😯
    <div>Лаборатория Мемастика пока-что сделана только под большие экраны, советую тебе пересесть на компухтер...</div>
  </div>
  <div class="lab-warn-screen-btns">
    <button class="btn-theme-inverse" (click)="back()"><i class="fa fa-arrow-left"></i>Назад</button>
    <button class="btn-theme-inverse" (click)="close()"><i class="fa fa-close"></i>Закрыть</button>
  </div>
</div>
