.meme-research-chance {
  text-align: center;
  .mrc-chance {
    font-family: Futurica, serif;
    font-size: 24px;
    color: #485bee;
  }
}

.meme-research-chance-circle {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  margin: auto;
  border: 3px solid;
  background-color: #485bee;
  p {
    color: whitesmoke;
    margin-top: 22px;
  }
}

.meme-research-chance-img {
  margin: 15px;
  img {
    width: 64px;
  }
  div {
    color: gray;
  }
}
