<div class="control-content-wrap">
  <div class="control-content-empty"></div>

  <div class="scope-container">
    <div class="scope-cell" (click)="evolution()">
      <img src="assets/images/icon/world.png">
      <p>эволюция</p>
    </div>
    <div class="scope-cell" (click)="battle()">
      <img src="assets/images/icon/battle.png">
      <p>битвы</p>
    </div>
    <div class="scope-cell" (click)="shop()">
      <img src="assets/images/icon/shop.png">
      <p>магазин</p>
    </div>
    <div class="scope-cell" (click)="memotypes()">
      <img src="assets/images/icon/memotype.png">
      <p>мемотипы</p>
    </div>
    <div class="scope-cell" (click)="mining()">
      <img src="assets/images/icon/mining.png">
      <p>майнинг</p>
    </div>
    <div class="scope-cell" (click)="creating()">
      <img src="assets/images/icon/cell.png">
      <p>создание</p>
    </div>
    <div class="scope-cell" (click)="rating()">
      <img src="assets/images/icon/rocket.png">
      <p>рейтинг</p>
    </div>
    <div class="scope-cell" (click)="library()">
      <img src="assets/images/icon/books.png">
      <p>библиотека</p>
    </div>
    <div class="scope-cell" (click)="laboratory()">
      <img src="assets/images/icon/lab.png">
      <p>лаборатория</p>
    </div>
  </div>

  <div class="control-content-empty"></div>
</div>
