<div class="control-content-wrap">
  <div class="control-content-empty"></div>

  <div class="scope-container">
    <div class="scope-cell" (click)="evolution()">
      <img src="assets/images/icon/world.png">
      <p>мемы</p>
    </div>
    <div class="scope-cell" (click)="battle()">
      <img src="assets/images/icon/battle.png" style="padding: 3px">
      <p>битвы</p>
    </div>
    <div class="scope-cell" (click)="shop()">
      <img src="assets/images/icon/shop.png" style="padding: 3px">
      <p>магазин</p>
    </div>
    <div class="scope-cell" (click)="memotypes()">
      <img src="assets/images/icon/memotype.png">
      <p>мемотипы</p>
    </div>
    <div class="scope-cell" (click)="mining()">
      <img src="assets/images/icon/mining.png">
      <p>майнинг</p>
    </div>
    <div class="scope-cell" (click)="creating()">
      <img src="assets/images/icon/cell.png" style="padding: 3px">
      <p>создание</p>
    </div>
    <div class="scope-cell" (click)="chat()">
      <img src="assets/images/icon/chat.png">
      <p>чат</p>
    </div>
    <div class="scope-cell" (click)="library()">
      <img src="assets/images/icon/books.png" style="padding: 3px">
      <p>библиотека</p>
    </div>
    <div class="scope-cell" (click)="rating()">
      <img src="assets/images/icon/rocket.png" style="padding: 3px">
      <p>рейтинг</p>
    </div>
<!--    <div class="scope-cell" (click)="replicators()">-->
<!--      <img src="assets/images/icon/replicator.png">-->
<!--      <p>репликаторы</p>-->
<!--    </div>-->
    <div class="scope-cell" (click)="lab()">
      <img src="assets/images/icon/lab.png" style="padding: 3px">
      <p>лаборатория</p>
    </div>
  </div>

  <div style="height: 30px"></div>
</div>
