@font-face {
  font-family: "Gost";
  src: url(./fonts/a_Gost.ttf);
}

@font-face {
  font-family: "Futurica";
  src: url(./fonts/a_Futurica.ttf);
}

@font-face {
  font-family: "FuturaRound";
  src: url(./fonts/a_FuturaRound.ttf);
}
// TODO вы шо там уже сасем?
