<div>
  <div class="modal-header modal-section">
    <span class="modal-title">УРОВНИ ПОСОБИЙ</span>
  </div>
  <div class="modal-body intro-modal">
    <p>Кол-во токенов в пособоии случайно, шанс выпадения токена от 1 до N🎲, в зависимости от вашего уровня.</p>
    <div class="rank-modal my-scroll" *ngIf="!isLoad; else spinnerRankType">
      <div *ngFor="let d of data">
        <app-rank-level [lvl]="d.lvl"></app-rank-level>
        <app-token-wallet [wallet]="d.tokens" [blya]="'🎲'"></app-token-wallet>
      </div>
    </div>
    <ng-template #spinnerRankType> <app-spinner *ngIf="isLoad"></app-spinner> </ng-template>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
