<section class="work" id="work">
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2 text-center">
            <div class="section-title">
               <h2>ОСНОВНЫЕ РЕСУРСЫ</h2>
               <img src="assets/images/title-line.png" alt="white-line" class="img-fluid">
               <p>Чем больше тем лучше?</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 text-center">
            <div class="process-box">
               <img src="assets/images/icon/1.png" alt=""/>
               <h3>ОСОБИ</h3>
               <p>потом допишу...</p>
               <img src="assets/images/icon/1.png" alt="" class="bg-icon"/>
            </div>
         </div>
         <div class="col-lg-4 text-center">
            <div class="process-box">
               <img src="assets/images/icon/2.png" alt=""/>
               <h3>ХРОМОСОМЫ</h3>
               <p>потом допишу...</p>
               <img src="assets/images/icon/2.png" alt="" class="bg-icon"/>
            </div>
         </div>
         <div class="col-lg-4 text-center">
            <div class="process-box">
               <img src="assets/images/icon/3.png" alt=""/>
               <h3>ДНК</h3>
               <p>потом допишу...</p>
               <img src="assets/images/icon/3.png" alt="" class="bg-icon"/>
            </div>
         </div>
      </div>
   </div>
</section>
