<div>
  <div class="modal-header modal-section">
    <span class="modal-title">ПОДПИСКИ</span>
  </div>
  <div class="modal-body">
    <div class="modal-following-wrp">
      <div *ngFor="let memetick of memeticks; let i = index">
        <div class="modal-following-row">
          <div class="modal-following-img">
            <img [src]="getAvatar(memetick)" (click)="memetickView(memetick.id)" onError="this.src='assets/images/tokens/tmp.png';">
          </div>
          <div class="modal-following-nck text-strong-center">
            <div>{{memetick.nick}}</div>
          </div>
          <div class="modal-following-dlt" (click)="memetickFollow(memetick, i)">
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
