<!-- subscribe section -->
<section class="subscribe-bg">
  <div class="col-xl-4 display-flex">
    <div class="download-img">
      <ul>
        <li><img src="assets/images/app1.png" alt="foot-app" class="img-fluid"  data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></li>
        <li><img src="assets/images/app2.png" alt="foot-app1" class="img-fluid"  data-tilt data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></li>
      </ul>
    </div>
  </div>
</section>
<!-- end subscribe section -->
