<!-- subscribe section -->
<section class="subscribe-bg">
  <div class="download-img">
    <ul>
      <li><img alt="foot-app" class="img-fluid" data-tilt data-tilt-max="1.8" data-tilt-perspective="50"
               data-tilt-speed="350" src="assets/images/app1.png"></li>
      <li><img alt="foot-app1" class="img-fluid" data-tilt data-tilt-max="1.8" data-tilt-perspective="50"
               data-tilt-speed="350" src="assets/images/app2.png"></li>
    </ul>
  </div>
</section>
<!-- end subscribe section -->
