@import "src/assets/scss/base/_variable.scss";

.meme-epi {
  text-align: center;
  font-size: 24px;
  font-family: Futurica, serif;

  i {
    transition: 0.2s;
    cursor: pointer;
    font-size: 32px;
    color: $color_saffron_approx;
    display: inline-block;
    margin-left: 5px;
  }
  &:hover {
    i {
      color: $primary_color;
    }
  }
  @media(max-width: 767px) {
    i {
      font-size: 24px;
    }
  }
}

.meme-epi-value {
  font-size: 24px;
  display: inline-block;
  font-family: Lato, serif;
}

#meme-epi-value-e {
  color: $primary_color;
}

#meme-epi-value-p {
  color: $middle_color;
}

#meme-epi-value-i {
  color: $secondary_color;
}
