<!--Nav start-->
<nav class="navbar navbar-expand-lg  theme-nav fixed-top" [class.darkHeader]="darkHeader">
  <div class="container">
    <a class="navbar-brand" [routerLink]="''">
      <div>
        <img src="assets/images/favicon.png" alt="favicon" class="img-fluid">
        <span class="header-message">COMING SOON</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav ml-auto" id="mymenu">
        <li class="nav-item ">
          <a class="nav-link" href="#home" [pageScrollOffset]="75" pageScroll>ГДЕ Я?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" [pageScrollOffset]="75" pageScroll>КТО ВЫ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feature" [pageScrollOffset]="75" pageScroll>ЧТО ДЕЛАЙТЕ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work" [pageScrollOffset]="75" pageScroll>ЧО ЕСТЬ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#screenshots" [pageScrollOffset]="75" pageScroll>А КАК?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team" [pageScrollOffset]="75" pageScroll>ПОЧЕМУ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#package" [pageScrollOffset]="75" pageScroll>НУ А ПОТОМ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" [pageScrollOffset]="75" pageScroll>ГДЕ ВЫ?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav end -->
