<!--Nav start-->
<nav [class.darkHeader]="darkHeader" class="navbar navbar-expand-lg  theme-nav fixed-top">
  <div class="container">
    <a [routerLink]="''" class="navbar-brand">
      <div>
        <img alt="favicon" class="img-fluid" src="assets/images/favicon.png">
        <span class="header-message">COMING SOON</span>
      </div>
    </a>
    <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#mainmenu" data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"><i aria-hidden="true" class="fa fa-align-justify"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav ml-auto" id="mymenu">
        <li class="nav-item ">
          <a [pageScrollOffset]="75" class="nav-link" href="#home" pageScroll>ГДЕ Я?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#about" pageScroll>КТО ВЫ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#feature" pageScroll>ЧТО УМЕЕТЕ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#work" pageScroll>ЧО ЕСТЬ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#screenshots" pageScroll>А КАК?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#team" pageScroll>ПОЧЕМУ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#package" pageScroll>НУ А ПОТОМ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#contact" pageScroll>ГДЕ ВЫ?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav end -->
