<!--Nav start-->
<nav [class.darkHeader]="darkHeader" class="navbar navbar-expand-lg  theme-nav fixed-top-my">
  <div class="container">
    <div class="navbar-brand" (click)="toHome()">
      <img alt="favicon" class="header-message-wrap img-fluid" src="assets/images/title-logo.png">
        <div class="header-message">{{headMessage}}</div>
      </div>
    <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#mainmenu" data-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"><i aria-hidden="true" class="fa fa-align-justify"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="navbar-nav ml-auto" id="mymenu">
        <li class="nav-item ">
          <a [pageScrollOffset]="75" class="nav-link" href="#start" pageScroll>ГДЕ Я?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#about" pageScroll>КТО ВЫ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#feature" pageScroll>ЧТО УМЕЕТЕ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#work" pageScroll>ЧТО ЕСТЬ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#screenshots" pageScroll>КАКИЕ ВЫ?</a>
        </li>
        <li class="nav-item">
          <a [pageScrollOffset]="75" class="nav-link" href="#contact" pageScroll>ГДЕ ВЫ?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="intro-slider">
  <i class="fa fa-angle-double-down"></i>
</div>
<!--Nav end -->
