.header-message {
  color: #fff;
  margin-left: 15px;
  border: 4px solid #fff;
  border-radius: 20px;
  background-color: red;
  font-size: 20px;
  display: inline-block;
  height: 35px;
  width: 160px;
  padding-left: 10px;
  font-family: FuturaRound,serif;
}
