<div class="back">
  <div class='stars'></div>
  <div class='stars2'></div>
  <div class='stars3'></div>
  <div>
    <p>СОЗДАНИЕ МЕМА</p>
  </div>
  <div class="text-center-absolute">
    <div class="dropzone" appDropZone (hovered)="toggleHover($event)" (dropped)="upload($event)" [class.hovering]="isHovering">
      <p class="create-help">ПЕРЕТАЩИТЕ ИЛИ ВЫБЕРИТЕ</p>
      <div class="file">
          <input type="file" (change)="upload($event.target.files)" accept=".png,.jpg"/>
      </div>
    </div>
  </div>
  <div>
    <button>СОЗДАТЬ</button>
  </div>
</div>
