<div class="back">
  <div class="create-title">
    <p>СОЗДАНИЕ МЕМА</p>
  </div>
  <div class="create-table flex-center-absolute">
    <div class="create-preview" *ngIf="isPreview">
      <img [src]="imgURL" alt="">
    </div>
    <div class="dropzone"
         appDropZone
         (hovered)="toggleHover($event)"
         (dropped)="upload($event)"
         [class.hovering]="isHovering"
         [style.display]="isPreview ? 'none' : 'flex'">
      <div class="create-help create-help-up" [style.display]="isHovering ? 'none' : 'block'">
        <p>ПЕРЕТАЩИ ИЛИ НАЖМИ</p>
      </div>
      <div class="animated-circle create-tap">
        <img class="img-fluid align-self-center" src="assets/images/tokens/tmp.png">
        <input type="file" (change)="upload($event.target.files)" accept=".png,.jpg"/>
      </div>
      <div class="create-help create-help-down" [style.display]="isHovering ? 'none' : 'block'">
        <p>1 ДЕНЬ == 1 МЕМ</p>
      </div>
    </div>
  </div>
  <div class="create-button" [style.display]="isCreate ? 'none' : 'block'">
    <button class="btn-theme" (click)="create()">СОЗДАТЬ</button>
  </div>
  <div class="create-button" [style.display]="isCreate ? 'block' : 'none'">
    <button class="btn-theme" (click)="memes()">МЕМАСЫ</button>
  </div>
  <app-loader [message]="message" [status]="status"></app-loader>
  <div class='stars'></div>
  <div class='stars2'></div>
  <div class='stars3'></div>
</div>
