<div class="super-main-title">БИТВА МЕМОВ</div>

<div *ngIf="isLoad" class="flex-center-absolute">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoad" class="battle-container container">

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="battle-table">
        <div class="button-big" (click)="toArena()">
        <div class="button-biп-content">
          <span>АРЕНА</span>
          <img src="assets/images/icon/battle.png">
        </div>
        <p>(всего битв: {{battlesCount}})</p>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="battle-table battle-list">
        <app-battle-list [title]="'ЗАЯВКИ'" [contentFirst]="battleWait" [contentSecond]="battleCancel"></app-battle-list>
      </div>
    </div>
    <div class="col-md-6">
      <div class="battle-table battle-list">
        <app-battle-list [title]="'БИТВЫ'" [contentFirst]="battleStart" [contentSecond]="battleEnd"></app-battle-list>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="battle-table">
        <div class="button-big" (click)="toRating()">
        <div class="button-biп-content">
          <span>РЕЙТИНГ</span>
          <img src="assets/images/icon/battle.png">
        </div>
        <p>(всего участников: {{membersCount}}</p>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="battle-table button-picker">
        <img src="assets/images/icon/battle.png">
        <p>ОСОБИ</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="battle-table button-picker">
        <img src="assets/images/icon/battle.png">
        <p>СПРАВКА</p>
      </div>
    </div>
  </div>

</div>

<div class="mem-back"></div>
