.info-btn {
  border-radius: 15px;
  color: white;
  background-color: #ee9c1b;
  font-size: 25px;
  width: 100px;
  margin: 10px;
  padding: 1px;
}

i:hover {
  background-color: #485bee;
  border: 2px solid white;
}
