*{
  font-size: 16px;
}

.my-btn {
  border-radius: 15px;
}

.btn-outline-primary {
  color: white;
  background-color: #ee9c1b;
  background-image: none;
  border: 0;
}

 i {
   font-size: 24px;
 }

 .open {
   padding-bottom: 5px;
 }
