<!-- contact-section -->
<section class="contact" id="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="section-title">
               <h2>ГО К НАМ</h2>
            </div>
            <form class="auth-form">
               <div class="form-group">
                  <label for="exampleInputName1">Никнейм</label>
                  <i class="fa fa-user"></i>
                  <input required=""  name="name" [formControl]="contactForm.controls['name']" type="text" class="form-control" id="exampleInputName1" placeholder="NICK">
                  <div *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required" class="text text-danger">Name is required</div>
               </div>
               <div class="form-group">
                  <label for="exampleInputEmail12">Email</label>
                  <i class="fa fa-envelope-o"></i>
                  <input required="" name="email" [formControl]="contactForm.controls['email']" class="form-control" id="exampleInputEmail12" placeholder="Email">
                  <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email" class="text text-danger">Invalid Email</div>
               </div>
               <div class="form-group mb-0">
                  <button class="btn-theme" [disabled]="!contactForm.valid" type="submit">ОТПРАВИТЬ</button>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <div class="section-title">
               <h2>КОНТАКТЫ</h2>
            </div>
            <p>Искать нас можешь тут</p>
            <ul class="contact-box">
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-rocket" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Стартап</h3>
                     <p>%ссылка%</p>
                  </div>
               </li>
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Телеграмм</h3>
                     <p>%канал%</p>
                  </div>
               </li>
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Email</h3>
                     <p>%мыло%</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- end contact section -->

