<div>
  <div class="modal-header modal-section">
    <span class="modal-title step-title">СУПЕР МЕССЕДЖИ</span>
  </div>
  <div class="modal-body">
    <div class="donater-msg-info">
      😎 Здесь отображаются случайные "Месседжи", тех кто поддержал Мемастик на
      <a [href]="boomHref" target="_blank">Бумстартере</a>, купив вознограждение - "Супер МЕССЕДЖ".
      Ты тоже можешь сделать свой "Месседж"! Оставь остроумное послание, цитату или даже ссылку на что нибудь 😉
      <br/>
      <button class="btn-theme btn-donater" type="submit" (click)="toDonaters()">
        ПОДДЕРЖАТЬ <i class="fa fa-rocket" aria-hidden="true"></i>
      </button>
      <p>P.s - а ещё ты можешь попасть в рейтинг донатеров :)</p>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
