<div>
  <div class="modal-header modal-section">
    <span class="modal-title step-title">МЕССЕДЖИ ДОНАТЕРОВ</span>
  </div>
  <div class="modal-body">
    <div class="donater-msg-info">
      Здесь отображаются случайные "Месседжи", тех кто поддержал Мемастик на
      <a href="https://boomstarter.ru/" target="_blank">Бумстартере</a>
      Твой "Месседж" тоже может попасть сюда, если ты нас поддержишь!
      <br/>
      <button class="btn-theme btn-donater" type="submit" (click)="toDonaters()">
        ПОДДЕРЖАТЬ <i class="fa fa-rocket" aria-hidden="true"></i>
      </button>
      <p>P.s - а ещё ты можешь попасть в рейтинг донатеров :)</p>
    </div>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
