.memetick-container {
  background: #f9f9f9;
  border-radius: 50px;
  margin-top: 15px;
  padding: 20px;
  box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.5);
}

.memetick-info {

}

.memetick-avatar {
  border-style: solid;
  border-color: #ffc107;
  border-radius: 100%;
  border-width: 5px;
}

.memetick-stats {
  border-color: black;
  border-style: outset;
  border-radius: 50px;
  width: 330px;
  box-shadow: 0px 0px 20px 5px #7e7e7e;
  background-color: white;
  margin: 30px auto 15px;
}

.memetick-control {

}

.memetick-nick {
  font-family: Gost, serif;
  font-size: 32px;
  margin-top: 10px;
}

.memetick-button {
  font-size: 20px;
  margin: 15px;
  font-family: FuturaRound, serif;
  border-radius: 30px;
  width: 300px;
  i {
    margin-left: 5px;
    font-size: 20px;
  }
}

