@import "src/assets/scss/base/_variable.scss";

.chat-head-panel {
  padding: 8px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.chat {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  max-width: 777px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  border-color: $primary_color;
  border-bottom-style: none;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;

  &::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media(max-width: 767px) {
    border-style: none;

    &::-webkit-scrollbar {
      width:0;
    }
  }
}

.chat-foot-panel {
  background: linear-gradient(to right, #6b25fc 0%, #9647db 100%);

  div {
    font-size: 42px;
    color: white;
    i {
      cursor: pointer;
    }
  }

  @media(max-width: 767px) {
    div {
      font-size: 32px;
    }
  }
}

.chat-input {
  position: fixed;
  text-align: center;
  bottom: 90px;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  input {
    width: 100%;
    outline: none;
    border-style: solid;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-width: 5px;
    border-radius: 30px;
    border-color: $primary_color;
    box-shadow: 0 0 10px 0 rgba(42,42,42,.50);
    font-family: FuturaRound, serif;
  }

  img {
    background-color: white;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    border-width: 5px;
    border-style: solid;
    border-color: $primary_color;
    box-shadow: 0 0 10px 0 rgba(42,42,42,.50);
    cursor: pointer;
  }

  @media(max-width: 767px) {
    bottom: 70px;

    input {
      border-width: 3px;
      font-size: 16px;
    }

    img {
      border-width: 3px;
    }
  }
}

.chat-send {
  i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
  }

  &:hover {
    i {
      background-color: #dddddd;
    }
  }
}

#topChat {
  height: 75px;

  @media (max-width: 767px) {
    height: 60px;
  }
}

#bottomChat {
  height: 165px;

  @media (max-width: 767px) {
    height: 150px;
  }
}
