<div class="chat-head-panel head-panel">
  <img class="img-fluid" src="assets/images/chat-logo.png">
  <app-chat-online [online]="online"></app-chat-online>
</div>

<div #mainChat
     class="chat my-scroll"
     appScrollable (scrollPosition)="scroller($event)"
     [style.scroll-behavior]="isScroll ? 'smooth' : 'auto'">
  <div id="topChat"></div>
  <div *ngIf="isLoad" style="margin-top: 10px">
    <app-spinner></app-spinner>
  </div>
  <div *ngFor="let message of messages; let i = index">
    <app-chat-message
      [withDelete]="canDelete"
      (whenDelete)="delete($event, i)"
      (showMemetick)="memetickCard($event)"
      (viewMemotype)="memotypeLoad($event)"
      [message]="message">
    </app-chat-message>
  </div>
  <div *ngIf="!isConnect" class="chat-connect">
    <app-dna-spinner></app-dna-spinner>
  </div>
  <div id="bottomChat"></div>
</div>

<div class="chat-input">
  <input
    *ngIf="mode == modes.TEXT"
    (click)="scroll()"
    [(ngModel)]="text"
    (keyup.enter)="send()"
    [maxLength]="maxLenText"
    [placeholder]="inputText"
    [disabled]="!isConnect || isBlock"
    type="text">
  <img
    (click)="memotypeView()"
    *ngIf="mode == modes.STICKER"
    [src]="memotype.image"
    class="img-fluid">
</div>

<div class="chat-foot-panel foot-panel">
  <div (click)="home()"><i class="fa fa-home"></i></div>
  <div class="chat-send" (click)="send()">
    <i *ngIf="!loadSend && !isBlock" class="fa fa-paper-plane animated bounceIn" style="color: #007bff"></i>
    <i *ngIf="loadSend && !isBlock" class="fa fa-circle-o-notch fa-spin" style="color: #ffc107"></i>
    <i *ngIf="isBlock" class="fa fa-clock-o fa-spin" style="color: #dc3545"></i>
  </div>
  <div (click)="stick()" *ngIf="mode == modes.TEXT">
    <i class="fa fa-smile-o"></i>
  </div>
  <div (click)="texter()" *ngIf="mode == modes.STICKER">
    <i class="fa fa-times-circle"></i>
  </div>
</div>

<app-memotype-view></app-memotype-view>

<div class="mem-back"></div>
