<div class="step-panel-list my-scroll animated slideInUp faster" *ngIf="showPanelList">

  <div *ngFor="let step of steps">
    <div class="step-panel-row" (click)="memesByStep(step)">
      <div class="step-panel-img">
        <img [src]="evolveIcons[step.step]">
      </div>
      <div class="step-panel-name">
        <span>{{step.name}}</span>
      </div>
    </div>
  </div>

  <div class="meme-panel-del"></div>

  <div *ngFor="let filter of filters">
    <div class="step-panel-row" (click)="memesByFilter(filter)">
      <div class="step-panel-img step-panel-img-filter">
        <img [src]="filterIcons[filter.filter]">
      </div>
      <div class="step-panel-name">
        <span>{{filter.name}}</span>
      </div>
    </div>
  </div>

</div>

<div class="foot-panel">
  <div class="step-panel-icon" (click)="update()">
    <i class="fa fa-retweet" [style.color]="!isUpdate ? '#495057' : ''"></i>
  </div>
  <div class="step-panel-img hover-evolve" (click)="show()">
    <img [src]="panelImage">
  </div>
  <div class="step-panel-icon" (click)="home()">
    <i class="fa fa-home"></i>
  </div>
</div>
