@import "src/assets/scss/base/_variable.scss";

.step-panel-name {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 20px;
  }
  @media(max-width: 767px) {
    span {
      font-size: 16px;
    }
  }
}


.step-panel-icon {
  i {
    color: #6b25fc;
    font-size: 48px;
    cursor: pointer;
  }
  &:hover {
    i {
      color: #495057;
    }
  }
  @media(max-width: 767px) {
    i {
      font-size: 42px;
    }
  }
}

.step-panel-img {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.hover-evolve {
  transition: 0.1s linear;
  &:hover {
    background: #8136ec;
    border-radius: 5px;
  }
}

.step-panel-list {
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  width: 300px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 5px 69px;
  height: 500px;

  &::-webkit-scrollbar-track {
    margin-top: 30px;
  }

  @media(max-width: 767px) {
    width: 228px;
    height: 400px;
  }
}

.step-panel-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 69px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border-radius: 30px;
    background-color: #bababa;
  }

  @media(max-width: 767px) {
    height: 54px;
  }
}

.meme-panel-del {
  margin: 5px auto;
  background-color: #495057;
  border-radius: 30px;
  height: 5px;
  width: 90%;
}

.step-panel-img-filter {
  img {
    max-height: 90%;
    max-width: 90%;
  }
}
