<div>
  <div class="modal-header modal-section my-header my-section">
    <p>УЖЕ УХОДИТЕ?</p>
  </div>
  <div class="modal-body my-body">
    <img src="assets/images/feature-mob.png" alt="...">
    <p>Вы точно хотите выйти?</p>
  </div>
  <div class="modal-footer modal-section my-footer my-section">
    <button class="btn-theme-inverse" (click)="logout()">
      ДА
      <i class="fa fa-check button-check"></i>
    </button>
    <button class="btn-theme-inverse" (click)="close()">
      НЕТ
      <i class="fa fa-close button-close"></i>
    </button>
  </div>
</div>
