<div class="super-main-title">
  <i class="fa fa-user-circle"></i> МЕМЕТИК
</div>

<div class="my-container container">
  <div *ngIf='memetickLoad; else loaderMemetick'>
    <app-memetick-profile [memetick]="memetick" [memetickMe]="memetickMe" [wallet]="wallet"></app-memetick-profile>
  </div>
  <ng-template #loaderMemetick>
    <app-spinner></app-spinner>
  </ng-template>
</div>

<div class="my-button-close main-button-close" (click)="back()">
  <i class="fa fa-close"></i>
</div>

<div class="memetick-back mem-back"></div>

