.evo-alg-msg {
  color: #4894dc;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 110%;
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Futurica, serif;
}
