<section class="theme-bg screenshots" id="screenshots">
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div #modalText style="display: none">
    Алгоритм создан на основе генетическиого алгоритма. Каждый этап алгоритма длится 1 день. Мемы которые создаются в один и тот же день, считаются мемами одной популяции, Которые должны пройти все этапы эволюции.
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">МЕМИТИЧЕСКИЙ АЛГОРИТМ</h2>
          <app-open-intro-modal [content]="modalText.textContent" [title]="'АЛГОРИТМ'"></app-open-intro-modal>
          <img alt="title-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="swiper-screenshots-container-1 swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img alt="1" src="assets/images/ss/1.png">
            </div>
            <div class="swiper-slide">
              <img alt="2" src="assets/images/ss/2.png">
            </div>
            <div class="swiper-slide">
              <img alt="3" src="assets/images/ss/3.png">
            </div>
            <div class="swiper-slide">
              <img alt="4" src="assets/images/ss/4.png">
            </div>
            <div class="swiper-slide">
              <img alt="5" src="assets/images/ss/5.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
