<section class="theme-bg screenshots" id="screenshots">
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">СКРИНШОТЫ</h2>
          <img alt="title-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="swiper-screenshots-container-1 swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let s of screens; let i = index">
              <div class="swiper-slide-title">{{s}}</div>
              <img  class="swiper-slide-image"
                    (click)="openModal(s, 'assets/images/ss/' + (i + 1) + '.png')"
                    [src]="'assets/images/ss/' + (i + 1) + '.png'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
