.comment-row {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.comment-image {
  width: 20%;
  height: 64px;
  text-align: center;

  img {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    width: 64px;
    height: 64px;
  }

  @media(max-width: 767px) {
    img {
      width: 48px;
      height: 48px;
    }
  }
}

.comment-content {
  text-align: left;
  width: 60%;
}

.comment-nick {
  font-family: Gost, serif;
  font-size: 22px;

  @media(max-width: 767px) {
    font-size: 18px;
  }
}

.comment-text {
  font-family: Lato, serif;
  font-size: 18px;
  word-break: break-word;

  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.comment-point {
  width: 10%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 32px;
  font-family: Gost, serif;
  @media(max-width: 767px) {
    font-size: 28px;
  }
}

.comment-vote {
  width: 10%;
  height: 64px;
  text-align: center;
  i {
    font-size: 32px;
    cursor: pointer;
    display: block;
    transition: 0.5s ease;
    &:hover {
      text-shadow: 2px 2px 2px #adb5bd;
      animation: vote 0.3s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes vote {
  100% {
    transform: scale(1.1);
  }
}
