<div class="comment-row">
  <div class="comment-image">
    <img (click)="memetickCard()" [src]="avatar">
  </div>
  <div class="comment-content">
    <div class="comment-nick">{{comment.nick}}</div>
    <div class="comment-text">{{comment.comment}}</div>
  </div>
  <div class="comment-point" [@pointState]="comment.point">{{comment.point}}</div>
  <div class="comment-vote">
    <i id=vote-up class="fa fa-caret-up"
       (click)="approveComment(comment)"
       [style.color]="comment.vote != null && comment.vote ? '#28a745' : ''">
    </i>
    <i id=vote-down class="fa fa-caret-down"
       (click)="disapproveComment(comment)"
       [style.color]="comment.vote != null && !comment.vote ? '#dc3545' : ''">
    </i>
  </div>
</div>
