<div class="title-logo for-mobile" (click)="toStart()">
  <img src="assets/images/footer-logo.png">
</div>

<div class="mem-back">
  <div class="content-scroll" appMemeMore (moreEvent)="moreHandler()">
    <div class="for-mobile memes-empty-up"></div>

    <div *ngFor="let data of pagination.data | async">
      <app-memes-page [data]="data" (viewer)="memeView($event)"></app-memes-page>
    </div>

    <div style="margin: 30px">
      <app-spinner *ngIf="(pagination.loading) | async"></app-spinner>
    </div>

    <div class="meme-empty" *ngIf="(pagination.empty) | async">
      <p>МЕМОВ НЕТ</p>
      <img src="https://i.giphy.com/media/jcxtvm2bsZDH2/giphy.webp"/>
    </div>
  </div>
</div>

<app-memes-panel [currentFilter]="filter" [currentStep]="step"></app-memes-panel>
<app-meme-view></app-meme-view>
