<div class="mem-back">

  <div class="content-scroll" appScrollable (scrollPosition)="scrollHandler($event)">

    <div *ngFor="let data of pagination.data | async">
      <app-memes-page
        [data]="data"
        (viewer)="memeView($event)"
        (researcher)="memeResearch($event)"
        (memeticker)="memetickCard($event)">
      </app-memes-page>
    </div>

    <app-spinner *ngIf="(pagination.loading) | async"></app-spinner>

    <div class="meme-empty" *ngIf="(pagination.empty) | async">
      <p>МЕМОВ НЕТ</p>
      <img src="https://i.giphy.com/media/jcxtvm2bsZDH2/giphy.webp"/>
    </div>

  </div>

</div>

<app-memes-panel [modePanel]="modePanel" [showPanel]="showPanel"></app-memes-panel>

<app-memetick-card></app-memetick-card>
<app-meme-research></app-meme-research>
<app-meme-view></app-meme-view>
