.memes-scroll {
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: relative;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;

  @media(max-width: 767px) {
    &::-webkit-scrollbar {
      width: 0;
    }

    scroll-snap-type: y mandatory;
  }
}

.memes-card {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
  justify-content: center;
  padding: 20px 1rem 90px;

  @media(max-width: 767px) {
    padding: 54px 1rem 69px;
  }
}

.memes-page {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media(max-width: 1500px) {
    width: 50%;
  }
  @media(max-width: 1366px) {
    width: 60%;
  }
  @media(max-width: 1199px) {
    width: 70%;
  }
  @media(max-width: 1024px) {
    width: 80%;
  }
  @media(max-width: 767px) {
    width: 100%;
  }
}

.meme-empty {
  margin-top: 25px;
  margin-bottom: 25px;
  p {
    color: white;
    font-size: 32px;
  }
  img {
    border-radius: 50px;
    width: 70%;
    margin: 15px;
  }
}

.memes-btn-slct {
  button {
    width: 200px;
    height: 50px;
    font-family: FuturaRound, serif;
    font-size: 32px;
    padding: 0;

    img {
      width: 36px;
      height: 36px;
      margin-bottom: 6px;
    }
  }
}


