<div class="home-memetick">
  <div class="home-memetick-row">
    <div class="home-memetick-ava" (click)="memetick()">
      <img [src]="memetickAvatar || ''" [style.border-color]="colorRarity">
    </div>
    <div class="home-memetick-txt">
      <div class="home-memetick-nick">{{home?.memetick?.nick}}</div>
      <div class="home-memetick-rank">{{home?.rank?.name}}</div>
    </div>
    <div class="home-memetick-lvl">
      <div class="lvl" [style.background-color]="colorRarity">
        {{home?.rank?.lvl}} <div>lvl</div>
      </div>
    </div>
  </div>
  <div class="home-memetick-dna-line">
    <div id="dna_line_1"><img src="assets/images/dna_line.png"></div>
    <div id="dna_line_2" class="animated flipInX slow">
      <img src="assets/images/dna_line.png" [style.clip-path]="getDnaCrop">
      <span class="dna_percent" [style.left.%]="this.home.rank.percent">{{this.home.rank.percent}}%</span>
    </div>
  </div>
  <div class="home-memetick-dna-count">
    <div>ДНК: {{home?.rank?.dna}} / {{home?.rank?.next}}</div>
  </div>
</div>
