<div class="home-memetick">
  <div class="home-memetick-row">
    <div class="home-memetick-ava" (click)="memetick()">
      <img [src]="memetickAvatar || ''" [style.border-color]="colorAvatar">
    </div>
    <div class="home-memetick-txt animated bounceIn">
      <div>{{home?.memetick?.nick}}</div>
    </div>
    <div class="home-memetick-lvl" (click)="rank()">
      <div class="lvl">
        {{home?.rank?.lvl}}
        <div>lvl</div>
      </div>
    </div>
  </div>
  <div class="home-memetick-rank">
    <div>{{home?.rank?.name}}</div>
  </div>
  <div class="home-memetick-dna-line">
    <img src="assets/images/dna_line.png" class="animated flipInX slow">
  </div>
<!--  <div class="home-memetick-dna-count">-->
<!--    {{home?.rank?.dna}} / {{home?.rank?.next}}-->
<!--  </div>-->
</div>
