<div class="home-memetick">
  <div class="home-memetick-row">
    <div class="home-memetick-ava" (click)="memetick()">
      <img [src]="memetickAvatar || ''" [style.border-color]="colorAvatar">
    </div>
    <div class="home-memetick-txt">
      <div class="home-memetick-nick">{{home?.memetick?.nick}}</div>
      <div class="home-memetick-rank">{{home?.rank?.name}}</div>
    </div>
    <div class="home-memetick-lvl">
      <div class="lvl">
        {{home?.rank?.lvl}} <div>lvl</div>
      </div>
    </div>
  </div>
  <div class="home-memetick-dna-line">
    <img src="assets/images/dna_line.png" class="animated flipInX slow">
  </div>
  <div class="home-memetick-dna-count">
    <div>ДНК: {{home?.rank?.dna}} / {{home?.rank?.next}}</div>
  </div>
</div>
