<!-- Feature section -->
<section class="theme-bg feature" id="feature">
  <div class="container">
    <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2 class="text-white">НАШИ ФИЧИ</h2>
          <img alt="white-line" class="img-fluid" src="assets/images/white-line.png">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline">
            <ul>
              <li class="timeline">
                <h4 class="sub-title">СОЗДАВАЙ МЕМЫ 🎨</h4>
                <p class="">дом посадил, дерево построил, а кто будет мем воспитывать?</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">ГОЛОСУЙ ЗА МЕМЫ 📝</h4>
                <p class="">голосуй не голосуй лучше пряничек пожуй</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">СКРЕЩИВАЙ МЕМЫ ✂️</h4>
                <p class="">когда твой мем достигнет полового созревания у вас будет неловкий разговор</p>
              </li>
              <li class="timeline">
                <h4 class="sub-title">МОДИФИЦИРУЙ МЕМЫ 💉</h4>
                <p class="">мемитически модифицированные продукты - наше будущее</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 future-mobile" (click)="animate()">
        <span class="secret" [@memasikState]='stateMemasik' [ngStyle]="{'color': color}">{{text}}</span>
        <img alt="feature-mob" class="img-fluid" src="assets/images/feature-mob.png" [@atomState]='stateAtom'>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="future-box">
          <div class="future-timeline-right">
            <ul class="text-left">
              <li class="timeline-right">
                <h4>ПОЛУЧАЙ МЕМКОЙНЫ 💵</h4>
                <p class="">может хотябы тут у тебя будет достаточно денег</p>
              </li>
              <li class="timeline-right">
                <h4>СОБИРАЙ МЕМОТИПЫ 💎</h4>
                <p class="">услыхав судьбы призыв, собирай мемотипы пока ещё жив</p>
              </li>
              <li class="timeline-right">
                <h4>ДОСТИГАЙ ЗВАНИЙ 🏅</h4>
                <p class="">придумай самый орный мемас и получи мембелевскаю премию</p>
              </li>
              <li class="timeline-right">
                <h4>СРАЖАЙСЯ В БИТВАХ ⚔️</h4>
                <p class="">го пвп я эволюционировал (только не бей людей в реальной жизни, это плохо)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Feature section -->
