<div class="super-main-title">АДМИНКА</div>

<div class="admin-form-group">
  <form (ngSubmit)="sendNotifyMesg()">
    <div class="admin-form">
      <p>MESSAGE NOTIFY</p>
      <input [formControl]="mesgNotifyForm.controls['text']" name="text" placeholder="text" type="text">
      <input [formControl]="mesgNotifyForm.controls['days']" name="days" placeholder="days" type="number">
      <button class="btn btn-primary" type="submit" [disabled]="!mesgNotifyForm.valid">SEND</button>
    </div>
  </form>

  <form (ngSubmit)="sendNotifyPush()">
    <div class="admin-form">
      <p>SUPER NOTIFY</p>
      <input [formControl]="suprNotifyForm.controls['text']" name="text" placeholder="text" type="text">
      <button class="btn btn-primary" type="submit" [disabled]="!suprNotifyForm.valid">SEND</button>
    </div>
  </form>

  <form (ngSubmit)="sendNotifyUser()">
    <div class="admin-form">
      <p>USER NOTIFY</p>
      <input [formControl]="userNotifyForm.controls['text']" name="text" placeholder="text" type="text">
      <input [formControl]="userNotifyForm.controls['uuid']" name="uuid" placeholder="uuid" type="text">
      <button class="btn btn-primary" type="submit" [disabled]="!userNotifyForm.valid">SEND</button>
    </div>
  </form>
</div>

<div class="admin-invites my-scroll">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">code</th>
      <th scope="col">dateSend</th>
      <th scope="col">dateCreate</th>
      <th scope="col">isSend</th>
      <th scope="col">isTake</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invite of codes; index as i">
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ invite.email }}</td>
      <td>{{ invite.code }}</td>
      <td>{{ invite.dateSend }}</td>
      <td>{{ invite.dateCreate }}</td>
      <td>{{ invite.send }}</td>
      <td>{{ invite.take }}</td>
      <button type="button" class="btn btn-primary" (click)="sendInvite(invite)">SEND</button>
    </tr>
    </tbody>
  </table>
</div>

<div class="footer-control">
  <button class="btn btn-warning" (click)="toMemeticks()">MEMETICKS</button>
</div>

<div class="admin-alert animated slideInUp" *ngIf="isAlert">
  <ngb-alert [type]="typeAlert" (close)="closeAlert()">{{ msgAlert }}</ngb-alert>
</div>


