<div>
  <div class="modal-header modal-section">
    <span class="modal-title">ПРАВИЛА БИТВ</span>
  </div>
  <div class="modal-body intro-modal battle-rule">
    <div>
      - В битве принимают участие две стороны:<br/>
      <svg-icon [src]="swordIcon" [svgStyle]="{'fill': '#dc3545', 'width.px': '16', 'height.px': '16'}"></svg-icon> Нападающий,
      <i class="fa fa-shield" [style.color]="'#3136c3'" [style.font-size]="16"></i> Защитник <br/>
      - Участвовать в битве могут только особи! <img src="assets/images/icon/1.png"><br/>
      - ПВП (противовес в печеньках) это число от 0 до {{constants.MAX_PVP}}
    </div>
    <p>-=[АЛГОРИТМ БИТВ]=-</p>
    <ol>
      <li>Вызов на битву <div>
        Чтобы вызвать особь на битву, нужно в окне исследования<img src="assets/images/icon/research.png">
        этого мема, нажать на кнопку - 'БИТВА',
        после чего нападающему нужно выбрать свою особь для сражения и ждать ответа от защитника.
      </div></li>
      <li>Принятие вызова <div>
        Защитник должен ответить на вызов <i class="fa fa-exclamation-circle" [style.color]="'#dc3545'"></i>
        (принять или отклонить его). Защитник видит какие мемы выбрал нападающий.
        Если защитник принимает битву, он должен выбрать ПВП битвы. От ПВП битвы зависит:
        когда битва завершится, размер выигрыша, место в рейтинге битв.
      </div></li>
      <li>Процесс битвы <div>
        Битва происходит путем голосования. Чтобы голосовать за участников битвы
        вам нужны печеньки: <img src="assets/images/icon/cookie.png">
        Когда разница между кол-вом голосов нападающего и защитника
        будет равна ПВП битвы, битва завершается. (ничья быть не может)
      </div></li>
      <li>Голосование <div>
        Голосование происходит на арене. Нельзя голосовать за битву в которой вы участвуйте.
        Так-же голосовать за конкретную битву можно только один раз.
        Если вы проголосовали за участника который лидирует по голосам, вы получайте ДНК <img src="assets/images/icon/3.png">
        (кол-во ДНК = комбо угадывания лидера * {{constants.DNA_VOTE}})
      </div></li>
      <li>Завершение <div>
        Победившая сторона получает мемкойны<img src="assets/images/icon/memecoin.png">
        (кол-во мемкойнов = ПВП * {{constants.MEMCOIN_PRESENT}})
        Проигравшая особь учатника умирает. ПВП битвы начинает учитываться в рейтинге
        (если проиграл рейтинг - понижается, если выиграл - повышается).
      </div></li>
    </ol>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

