@import "src/assets/scss/base/_variable.scss";

.battle-rule {
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $middle_color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary_color;
  }

  div {
    font-size: 18px;
    font-family: FuturaRound, serif;
  }

  img {
    width: 20px;
  }

  p {
    font-family: Futurica, serif;
    font-size: 22px;
    margin: 10px;
  }

  ol {
    li {
      text-align: left;
      font-family: Gost, serif;
      font-size: 24px
    }
  }
}
