.control-bells-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 64px;
  width: 100%;
  @media(max-width: 767px) {
    height: 48px;
  }
}

.control-bells-txt {
  height: 100%;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  background-color: whitesmoke;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;

  div {
    color: black;
    font-size: 16px;
    line-height: 22px;
  }

  @media(max-width: 767px) {
    margin-left: 5px;
    margin-right: 5px;
    div {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  }
}

.control-bells-btn {
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease 0s;

  div {
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    width: 48px;
    height: 48px;
    background-color: whitesmoke;
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  @media(max-width: 767px) {
    width: 48px;

    div {
      margin-top: 8px;
      margin-left: 5px;
      width: 32px;
      height: 32px;
    }
  }

  &:hover {
    div {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
    }
  }
}

.control-bells-btn-clear {
  font-size: 36px;
  margin-top: 6px;
  color: #dc3545;

  @media(max-width: 767px) {
    font-size: 28px;
    margin-top: 1px;
  }
}

.control-bells-btn-mark {
  color: #3c803b;
  font-size: 36px;
  margin-top: 7px;
  transition: 0.2s;
  cursor: pointer;

  @media(max-width: 767px) {
    font-size: 28px;
    margin-top: 2px;
  }
}

.control-bells-clear {
  position: fixed;
  left: 0;
  top: 0;

  button {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 0 0 30px 0;
  }

  i {
    font-size: 28px;
    color: #dc3545;
  }

  @media(max-width: 767px) {
    button {
      width: 42px;
      height: 42px;
    }

    i {
      font-size: 22px;
    }
  }
}

.control-content-empty {
  height: 64px;

  @media (max-width: 767px) {
    height: 42px;
  }
}
