.control-bells-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 64px;
  width: 80%;
  @media(max-width: 767px) {
    width: 90%;
    height: 48px;
  }
}

.control-bells-txt {
  height: 100%;
  width: 90%;
  border-radius: 30px 0 0 30px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;

  div {
    color: black;
    font-size: 16px;
    line-height: 22px;
  }

  @media(max-width: 767px) {
    width: 80%;
    div {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  }
}

.control-bells-btn {
  height: 100%;
  width: 10%;

  div {
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    width: 48px;
    height: 48px;
    background-color: whitesmoke;
    border-radius: 100%;
  }

  @media(max-width: 767px) {
    width: 20%;
    div {
      margin-top: 8px;
      margin-left: 5px;
      width: 32px;
      height: 32px;
    }
  }
}

.control-bells-btn-clear {
  font-size: 36px;
  margin-top: 5px;
  color: #dc3545;
  @media(max-width: 767px) {
    font-size: 28px;
    margin-top: 1px;
  }

  &:hover {
    color: #495057;
  }
}

.control-bells-btn-mark {
  color: #3c803b;
  font-size: 36px;
  margin-top: 6px;
  transition: 0.2s;
  cursor: pointer;

  @media(max-width: 767px) {
    font-size: 28px;
    margin-top: 2px;
  }

  &:hover {
    color: #495057;
  }
}

.control-bells-clear {
  position: fixed;
  left: 0;
  top: 0;

  button {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 0 0 30px 0;
  }

  i {
    font-size: 28px;
    color: #dc3545;
  }

  @media(max-width: 767px) {
    button {
      width: 42px;
      height: 42px;
    }

    i {
      font-size: 22px;
    }
  }
}
