<div class="control-content-wrap">
  <div class="control-content-empty"></div>

  <div *ngIf="isLoad; else loadBells">
    <div *ngFor="let bell of bells; let i = index">
      <div class="control-bells-row">
        <div class="control-bells-btn">
          <div>
            <i *ngIf="!bell.read" class="fa fa-check control-bells-btn-mark" (click)="mark(bell, i)"></i>
            <i *ngIf="bell.read" class="fa fa-close control-bells-btn-clear" (click)="clear(bell, i)"></i>
          </div>
        </div>
        <div class="control-bells-txt"
             [style.background-color]="bell.read ? '#c3c3c3' : ''"
             (click)="event(bell, i)">
          <div>{{bell.text}}</div>
        </div>
      </div>
    </div>
    <div class="control-bells-clear" (click)="clearAll()">
      <button class="btn-theme-inverse">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <ng-template #loadBells>
    <div class="flex-center-absolute">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <div class="control-content-empty"></div>
</div>

