.token-designation {
  font-family: FuturaRound, serif;
  font-size: 32px;
  color: black;
}

.token-image {
  margin: 10px;
  width: 128px;
}

.token-description {
  font-size: 18px;
  color: #444444;
  margin-right: 10px;
  margin-left: 10px;
}
