<div *ngIf="isLoad" class="flex-center-absolute">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoad">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="dnt-rating-table dnt-rating-title">
          <span>🏅 РЕЙТИНГ ДОНАТЕРОВ 🔥</span>
          <div>
            🚀 Поддержи Мемастик на <a [href]="boomHref" target="_blank">Бумстартере</a>
            и ты станешь одним из этих сверх людей! 😎
          </div>
          <p>P.s - а ещё ты можешь сделать - "Cупер Месседж", который смогут увидеть пользоватли Мемастика на домашней странице</p>
          <button class="btn-theme" type="submit" (click)="toBoom()">
            ПОДДЕРЖАТЬ <img src="assets/images/social/boomstarter.png"/>
          </button>
        </div>
      </div>
    </div>

    <div *ngFor="let rarity of raritySiquence">
      <div class="dnt-rating-table dnt-msg-rariry text-strong-middle">
        <i class="fa fa-circle" [style.color]="memotypeColors[rarity]"></i>
        <div [style.color]="memotypeColors[rarity]">{{memotypeNames[rarity]}}</div>
        <div>{{memotypeLvl[rarity] * 100}}руб</div>
      </div>
      <owl-carousel [carouselClasses]="['owl-carousel owl-theme']"
                    [options]="{
                    loop: true,
                    dots: false,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true,
                    margin: 5,
                    items: 5 - memotypeLvl[rarity] + 1
                    }">
        <div *ngFor="let donate of rating[rarity]">
          <div class=" dnt-msg-donate-container ">
            <div class="dnt-rating-table dnt-msg-donate" [style.width.%]="100">
              <div class="dnt-msg-avatar">
                <img [src]="donate.avatar" [style.border-color]="memotypeColors[rarity]">
              </div>
              <div class="dnt-msg-name">
                <div fittext [maxFontSize]="42">{{donate.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>

    <div style="margin-bottom: 30px"></div>

    </div>
</div>
<div class="donaters-back">
  <particles [style]="myStyle" [width]="100" [height]="100" [params]="myParams"></particles>
</div>
