<div class="back">
  <div class="create-title top-absolute">
    <p *ngIf="!isPreview">СОЗДАНИЕ МЕМА</p>
    <p *ngIf="isPreview">ЭПИ: {{epiCell.evolution}}/{{epiCell.population}}/{{epiCell.individuation}}</p>
  </div>

  <div class="create-table flex-center-absolute">
    <div class="create-preview animated fadeIn slower" *ngIf="isPreview">
      <app-meme-text-view *ngIf="textMeme != null" [textMeme]="textMeme"></app-meme-text-view>
      <img [src]="imgURL || ''" alt="">
    </div>
    <div class="dropzone"
         appDropZone
         (hovered)="toggleHover($event)"
         (dropped)="uploadDrop($event)"
         [class.hovering]="isHovering"
         [style.display]="isPreview ? 'none' : 'flex'">
      <div class="create-help create-help-up" [style.display]="isHovering ? 'none' : 'block'">
        <p>{{stateTitle}}</p>
      </div>
      <app-spinner *ngIf="stateCell == null" class=""></app-spinner>
      <div *ngIf="stateCell != null"
           class="create-tap animated jello slow"
           [ngClass]="{'animated-circle': stateCell == 100, 'cell-anim': isAnim}"
           [style.opacity]="stateCell / 100 + 0.1"
           [style.width.px]="stateCell + 10">
        <img class="img-fluid align-self-center spin-anim" src="assets/images/icon/cell.png">
      </div>
      <div class="create-help create-help-down" [style.display]="isHovering ? 'none' : 'block'">
        <p>{{stateText}}</p>
      </div>
      <input type="file" (change)="uploadClick($event)" (mouseenter)="isAnim = true" (mouseleave)="isAnim = false" accept=".png,.jpg,.gif"/>
    </div>
  </div>

  <div class="create-button bottom-absolute" *ngIf="!isPreview">
    <button class="btn-theme" (click)="info()"><i class="fa fa-question-circle"></i></button>
    <button class="btn-theme" (click)="close()"><i class="fa fa-home"></i></button>
    <button class="btn-theme" (click)="lab()"><i class="fa fa-flask"></i></button>
  </div>

  <div class="create-button bottom-absolute" *ngIf="isPreview && !isCreate">
    <button class="btn-theme" (click)="cancel()"><i class="fa fa-times"></i></button>
    <button class="btn-theme" (click)="create()"><i class="fa fa-check"></i></button>
    <button class="btn-theme" (click)="showText()"><i class="fa fa-align-left"></i></button>
  </div>

  <div class="create-button bottom-absolute" *ngIf="isCreate">
    <button class="btn-theme" (click)="memes()"><i class="fa fa-globe"></i> Эволюция</button>
  </div>

  <app-meme-text-input (doneEvent)="doneText($event)" class="create-text-input"></app-meme-text-input>

  <div class='stars1'></div>
  <div class='stars2'></div>
  <div class='stars3'></div>
</div>
