<div *ngIf="isShow()">
<div class="animated fadeIn loader flex-center-absolute">
  <div class="loader-done" *ngIf="isDone()" (click)="action()">
    <div class="loader-status animated rotateIn slow">
        <i class="fa fa-check loader-icon"></i>
    </div>
  </div>
  <div class="loader-error" *ngIf="isError()" (click)="action()">
    <div class="loader-status animated rotateIn slow">
        <i class="fa fa-times loader-icon"></i>
    </div>
  </div>
  <div class="loader-load" *ngIf="isLoad()">
    <div class="loader-status animated fadeIn">
        <i class="fa fa-circle-o-notch fa-spin loader-icon"></i>
    </div>
  </div>
  <div class="loader-message" *ngIf="isMessage()">
    <p class="animated bounce">{{message}}</p>
  </div>
  <div class="loader-close" *ngIf="isMessage()">
    <p>(нажмите чтобы закрыть)</p>
  </div>
</div>
</div>
