.loader {
  box-shadow: 0px 0px 30px 5px black;
  background-color: #212529;
  width: 350px;
  height: 350px;
  border-radius: 50px;
}

.loader-done {
  i {
    color: #28a745;
  }
}

.loader-error {
  p {
    color: #ffffff;
    font-size: 24px;
    margin-top: 15px;
  }
  i {
    width: 120px;
    color: rgba(160, 0, 0, 0.89);
  }
}

.loader-load {
  i {
    color: #ff8800;
  }
}

.loader-icon {
  z-index: -1;
  box-shadow: 0 0 0 50px rgba(232, 232, 232, 0.1);
  font-size: 100px;
  background-color: #212529;
  border-radius: 100%;
  padding: 10px;
}

.loader-status {
  text-align: center;
}

.loader-message {
  position: absolute;
  margin-top: -132px;
  width: 100%;
  text-align: center;
  p {
    margin: 10px 20px;
    font-size: 24px;
    font-family: FuturaRound, serif;
    color: white;
  }
}
