.stats-table {
  text-align: center;
}

.stats-info {
  padding: 10px;
  @media(max-width: 600px) {
    padding: 5px;
  }
}

.stats-title {
  padding-right: 15px;
  color: black;
  font-family: FuturaRound, serif;
  font-size: 24px;
  @media(max-width: 600px) {
      font-size: 18px;
  }
}

.stats-img {
  img {
    width: 64px;
  }

  @media(max-width: 600px) {
    img {
      width: 48px;
    }
  }
}

.stats-value {
  padding-left: 15px;
  font-size: 24px;
  @media(max-width: 600px) {
    font-size: 18px;
  }
}

.hover-dna {
  &:hover {
    animation: pulse 1s;
  }
}

.hover-crs {
  &:hover {
    animation: rotate 1s;
  }
}

.hover-idv {
  &:hover {
    animation: bounce 1s;
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  60% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0px);

  }
  33% {
    transform: translateX(-10px);
  }
  66% {
    transform: translateX(10px);
  }
}
