<div class="stats-table">
  <div class="stats-info">
    <span class="stats-title">ОСОБЕЙ</span>
    <span class="stats-img"> <img class="img-fluid" src="assets/images/icon/1.png"></span>
    <span class="stats-value">{{stats.individual}}</span>
  </div>
  <div class="stats-info">
    <span class="stats-title">ХРОМОСОМ</span>
    <span class="stats-img"><img class="img-fluid" src="assets/images/icon/2.png"></span>
    <span class="stats-value">{{stats.chromosome}}</span>
  </div>
  <div class="stats-info">
    <span class="stats-title">ДНК</span>
    <span class="stats-img"> <img class="img-fluid" src="assets/images/icon/3.png"></span>
    <span class="stats-value">{{stats.dna}}</span>
  </div>
</div>
