<div>
  <div class="modal-header modal-section">
    <span class="modal-title">АЛГОРИТМ</span>
  </div>
  <div class="my-modal-body modal-body">
    <p>*Каждый час новый этап</p>
    <img class="img-fluid" src="assets/images/steps/algorithm.png">
    <p>*Отбор начинается в 00:00 по UTC</p>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
