.my-modal-body {
  max-width: 100%;
}

.alg-modal-wrap {
  height: 333px;
}

.alg-image {
  height: 300px;
}

.stats {
  text-align: center;
  margin-top: 10px;
}

.stats-info {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  img {
    width: 32px;
    height: 32px;
  }
  span {
    font-family: FuturaRound, serif;
    font-size: 20px;
    color: black;
  }
  div {
    font-family: Futurica, serif;
    font-size: 18px;
  }
}
