<div *ngIf="isPreview" class="memotype-view animated zoomIn faster">
  <div class="memotype-view-conent" *ngIf="!isLoad; else memotypeLoad">
    <div class="memotype-view-title">
      {{memotype?.title}}
    </div>
    <div class="memotype-view-rarity" [style.color]="memotypeColors[memotype?.rarity]">
      <i class="fa fa-circle"></i>{{memotypeNames[memotype?.rarity]}}
    </div>
    <div class="memotype-view-image">
      <img [src]="memotype?.image || ''">
    </div>
    <div class="memotype-view-text">
      <div class="head">ОПИСАНИЕ</div>
      <div class="body">{{memotype?.text}}</div>
    </div>
    <div class="memotype-view-set">
      <span>СЕТ:</span>{{memotype?.set}}
    </div>
    <div class="memotype-view-close" (click)="viewClose()">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <ng-template #memotypeLoad>
    <div class="flex-center-absolute" (click)="viewClose()">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
