<!-- Sign in Section start -->
<section class="auth-page theme-bg">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="auth-card">
    <div class="text-center">
      <h2>АВТОРИЗАЦИЯ</h2>
      <img alt="title-line" class="img-fluid line" src="assets/images/title-line.png">
      <div class="sign-info">
        <p class="sign-message animated bounceIn" [style.color]="error ? '#dc3545' : ''"
           [style.display]="isLoading ? 'none' : 'block'">{{message}}</p>
        <i class="fa fa-circle-o-notch fa-spin sign-spinner" [style.display]="isLoading ? 'block' : 'none'"></i>
      </div>
    </div>
    <div class="main">
      <form class="auth-form" (ngSubmit)="onSubmit()">
        <div class="form-group" [style.display]="signType === 'email' ? 'block' : 'none'">
          <label for="exampleInputEmail1">Почта</label>
          <i class="fa fa-envelope-o"></i>
          <input [formControl]="signForm.controls['email']" class="form-control" id="exampleInputEmail1" name="email" placeholder="Почта" required="" type="email">
          <span class="icon-form icon-form-email" (click)="signType = 'login'"><i class="fa fa-envelope icon-form"></i></span>
        </div>
        <div class="form-group" [style.display]="signType === 'login' ? 'block' : 'none'">
          <label for="exampleInputLogin1">Логин</label>
          <i class="fa fa-user"></i>
          <input [formControl]="signForm.controls['login']" class="form-control" id="exampleInputLogin1" name="login" placeholder="Логин" required="" type="text">
          <span class="icon-form icon-form-login" (click)="signType = 'email'">Почта</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Пароль</label>
          <i class="fa fa-lock"></i>
          <input [formControl]="signForm.controls['password']" class="form-control" id="exampleInputPassword1" name="password" placeholder="Пароль" required="" type="password">
          <span class="icon-form" [routerLink]="'/pages/forget-password'">Забыл?</span>
          <div *ngIf="signForm.controls.password.touched && signForm.controls.password.errors?.required" class="text text-danger">Пароль пуст</div>
        </div>
        <div class="form-group sign-button">
          <button class="btn submit" type="submit">ВХОД</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Sign in Section End -->
