<!-- team section-->
<section class="team-bg" id="team">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>БИБЛИОТЕКА</h2>
          <img alt="title-line" class="img-fluid" src="assets/images/title-line.png">
        </div>
      </div>
      <div class="col-md-12">
        <owl-carousel [carouselClasses]="['team-slider owl-carousel owl-theme']" [options]="teamCarousel">
          <div *ngFor="let teams of team; let i = index" class="item">
            <div [style.border-color]="teams.borderColor" class="team-box">
              <div class="team-under-box">
                <div class="team-under-box-button text-white" (click)="showModal(i)">
                  <i aria-hidden="true" class="fa fa-question"></i>
                </div>
                <img [src]="teams.image" alt="1" class="img-fluid">
                <div class="team-overlay" (click)="showModal(i)">
                  <div class="social-icon">
                    <ul [innerHTML]="teams.social"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
<!-- end team section-->
