@import "src/assets/scss/base/_variable.scss";

.shop-memotype-element {
  display: inline-block;
}

.shop-memotype-rarity {
  text-align: center;
  font-family: Gost, serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  i {
    margin-right: 5px;
  }
  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.shop-memotype-preview {
  max-width: 128px;
  max-height: 128px;
}

.shop-memotype-buy {
  font-size: 24px;
  font-family: FuturaRound, serif;
  margin-top: 30px;
  border-radius: 30px;
  border: 2px dashed;
  width: 300px;
  padding: 10px;
}

.memotype-shop-list {
  border-style: solid;
}

.shop-memotype-drop {
  margin-bottom: 30px;
  div {
    border-radius: 15px;
  }
  button {
    color: $primary_color;
  }
}

.shop-memotype-control {
  width: 100%;

  button {
    width: 150px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
