<div *ngIf="isLoad" class="flex-center-absolute">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoad">

  <div ngbDropdown class="shop-memotype-drop">
    <button class="btn-theme-inverse " id="dropdownBasic1" ngbDropdownToggle (click)="dropSet()">
      <span *ngIf="!isSet">ВЫБЕРИТЕ СЕТ</span>
      <span *ngIf="isSet">{{currentSet.name}}</span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngFor="let set of collection">
        <button ngbDropdownItem (click)="chooseSet(set)">{{set.name}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="isSet">
    <div class="memotype-delimer"></div>
    <owl-carousel  [carouselClasses]="['team-slider owl-carousel owl-theme']" [options]="memotypeCarousel">
      <div *ngFor="let memotype of currentSet.memotypes" (click)="chooseMemotype(memotype)">
        <div class="shop-memotype-element">
            <img [src]="memotype.image" class="img-fluid"/>
          <i *ngIf="memotype.isChoose" class="fa fa-check"></i>
        </div>
      </div>
    </owl-carousel>
    <div class="memotype-delimer"></div>
  </div>

</div>

<div class="shop-memotype-buy margin-center">
  <app-shop-price [price]="memotypePrice"></app-shop-price>
  <p *ngIf="!isMemotype">Выберите мемотип</p>
  <app-memotype-element *ngIf="isMemotype" [memotype]="currentMemotype" [showCount]="false" [buyMode]="true"></app-memotype-element>
  <app-shop-button [price]="memotypePrice" [disable]="!isMemotype" (event)="buy()"></app-shop-button>
</div>

<div class="shop-memotype-control">
  <button class="btn-theme" (click)="showRarities()">РЕДКОСТИ</button>
  <button class="btn-theme" (click)="toCollection()">КОЛЛЕКЦИЯ</button>
</div>

