<div *ngIf="isLoad" class="flex-center-absolute">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoad">

  <div ngbDropdown class="shop-memotype-drop">
    <button class="btn-theme-inverse " id="dropdownBasic1" ngbDropdownToggle (click)="dropSet()">
      <span *ngIf="!isSet">ВЫБЕРИТЕ СЕТ</span>
      <span *ngIf="isSet">{{currentSet.name}}</span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <div *ngFor="let set of collection">
        <button ngbDropdownItem (click)="chooseSet(set)">{{set.name}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="isSet">
    <div class="memotype-delimer"></div>
    <owl-carousel  [carouselClasses]="['team-slider owl-carousel owl-theme']" [options]="memotypeCarousel">
      <div *ngFor="let memotype of currentSet.memotypes">
        <div class="shop-memotype-element">
          <app-memotype-element (click)="chooseMemotype(memotype)" [memotype]="memotype" [showCount]="false" [buyMode]="true"></app-memotype-element>
          <i class="fa fa-circle" [style.color]="memotypeColors[memotype.rarity]"></i>
        </div>
      </div>
    </owl-carousel>
    <div class="memotype-delimer"></div>
  </div>

</div>

<div class="shop-memotype-buy margin-center">
  <app-shop-price [price]="memotypePrice"></app-shop-price>
  <p *ngIf="!isMemotype">Выберите мемотип</p>
  <div *ngIf="isMemotype">
    <img class="shop-memotype-preview" [src]="currentMemotype.image"/>
    <div class="shop-memotype-rarity text-strong-middle" [style.color]="memotypeColors[currentMemotype.rarity]">
      <i class="fa fa-circle"></i>{{memotypeNames[currentMemotype.rarity]}}
    </div>
  </div>
  <app-shop-button [price]="memotypePrice" [disable]="!isMemotype" (event)="buy()"></app-shop-button>
</div>

<div class="shop-memotype-control">
  <button class="btn-theme" (click)="showRarities()">РЕДКОСТИ</button>
  <button class="btn-theme" (click)="toCollection()">КОЛЛЕКЦИЯ</button>
</div>

