.shop-memotype-element {
  display: inline-block;
}

.shop-memotype-rarity {
  text-align: center;
  font-family: Gost, serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  i {
    margin-right: 5px;
  }
}

.shop-memotype-buy {
  font-size: 24px;
  font-family: FuturaRound, serif;
  margin-top: 0;
}

.memotype-shop-list {
  border-style: solid;
}
