<div class="evolve-adaptation">
  <div class="evolve-text">
    <p>Адаптация продвигает мем вверх в списке среди своей популяции</p>
  </div>
  <div class="evolve-img">
    <img class="img-fluid" [src]="'assets/images/icon/adapation.png'">
  </div>
  <div class="evolve-text">
    <p>Очки адаптаций:</p>
  </div>
  <div class="evolve-adaptation-score">
    <div class="evolve-adaptation-value">
      <p>{{evolve?.adaptation}}</p>
    </div>
    <div class="evolve-adaptation-arrow" *ngIf="evolve?.canApplyToken">
      <i class="fa fa-arrow-right"></i>
    </div>
    <div class="evolve-adaptation-value" *ngIf="evolve?.canApplyToken">
      <p>{{evolve?.adaptation + 1}}</p>
    </div>
  </div>
  <div *ngIf="evolve?.canApplyToken">
    <div class="main-research-control">
      <button class="btn-theme" (click)="adaptation()">
        АДАПТИРОВАТЬ <img [src]="img">
      </button>
    </div>
  </div>
</div>
<app-loader [message]="message" [status]="status"></app-loader>
