<div class="evolve-adaptation">
  <div class="evolve-img">
    <img class="img-fluid" [src]="'assets/images/icon/like_push.png'">
  </div>
  <div class="evolve-text">
    <p>Мем только что был создан!</p>
  </div>
  <div class="evolve-adaptation-value">
    <p>{{evolve?.adaptation}}</p>
  </div>
  <div class="evolve-text">
    <p>Используйте пробирку, чтобы адаптировать мем и продвинуть его вверх среди своей популяции</p>
  </div>
  <div class="main-research-control">
    <button class="btn-theme" (click)="adaptation()">
      АДАПТИРОВАТЬ <img [src]="img">
    </button>
  </div>
</div>
<app-loader [message]="message" [status]="status"></app-loader>
<app-accept [img]="img" (accept)="acceptTokenResult($event)"></app-accept>
