.evolve-adaptation {
  text-align: center;
}

.evolve-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.evolve-img {
  text-align: center;
  margin: 10px;
  img {
    width: 72px;
  }
}

.evolve-adaptation-value {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 4px solid firebrick;
  margin: auto auto 10px;
  display: inline-block;
  p {
    font-size: 30px;
    color: #343a40;
    margin-top: 16px;
  }
}

.evolve-control {
  text-align: center;
  button {
    font-size: 20px;
    margin: 15px;
    font-family: FuturaRound, serif;
    border-radius: 30px;
  }
}

.evolve-adaptation-arrow {
  font-size: 32px;
  color: #28a745;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.evolve-adaptation-score {
  margin-top: 5px;
}
