<div>
  <div class="content-research">
    <app-loh-radar [loh]="loh" *ngIf="lohLoad; else lohNotLoad"></app-loh-radar>
    <ng-template #lohNotLoad><app-spinner></app-spinner></ng-template>
    <app-comments [memeId]="meme.id" [sort]="'point'"></app-comments>
  </div>
  <div class="main-research-control">
    <button class="btn-theme" (click)="battle()">
      БИТВА <img src="assets/images/icon/battle.png">
    </button>
  </div>
</div>
<app-loader [message]="loadMessage" [status]="loadStatus"></app-loader>
<app-accept [img]="'assets/images/icon/battle.png'" (accept)="battleAcceptResult($event)"></app-accept>
