.msg-invite {
  color: red;
  font-size: 18px;
}

.txt-invite {
  font-size: 14px;
  margin-top: 10px;
}

.invite-reg-from {
  max-width: 80%;
}

.invite-reg-info {
  text-align: center;

  i {
    margin-top: 10px;
  }
}
