.msg-invite {
  color: red;
  font-size: 18px;
}

.txt-invite {
  font-size: 14px;
  margin-top: 10px;
}

.invite-reg-from {
  max-width: 80%;
}

.invite-reg-message {
  img {
    max-height: 300px;
  }
}

.invite-reg-info {
  text-align: center;

  i {
    margin-top: 10px;
  }
}

.section-title-my {
  margin-bottom: 25px;
}
