<!-- Sign in Section start -->
<section class="auth-page theme-bg">

  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>

  <div class="auth-card" *ngIf="showFrom">
    <div class="text-center">
      <h2>ИНВАЙТ</h2>
      <img alt="title-line" class="img-fluid line" src="assets/images/title-line.png">
      <p class="msg-invite">*Кол-во инвайтов на БЕТА тестирование ограничено*</p>
      <div class="invite-reg-info">
        <p *ngIf="!load" class="txt-invite animated bounceIn">{{text}}</p>
        <i *ngIf="load" class="fa fa-circle-o-notch fa-spin sign-spinner"></i>
      </div>
    </div>
    <div class="main">
      <form class="auth-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail12">Почта</label>
          <i class="fa fa-envelope-o"></i>
          <input [formControl]="contactForm.controls['email']" class="form-control" id="exampleInputEmail12"
                 name="email"
                 placeholder="Email" required="">
          <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email"
               class="text text-danger">Кривое мыло
          </div>
        </div>
        <div class="form-group mb-0">
          <button [disabled]="!contactForm.valid" class="btn-theme" type="submit">ОТПРАВИТЬ</button>
        </div>
      </form>
    </div>
  </div>

  <div class="thanks-bg" *ngIf="!showFrom">
    <div class="invite-reg-message" *ngIf="!showFrom">
      <img alt="thanks" class="img-fluid" src="assets/images/thanks.gif">
      <div>
        <h3 class="mb-4">Мы отправили вам инвайт приглашение с кодом. Проверьте свою почту!</h3>
        <p class="mb-4">P.s Если вы там ничего не увидели, то попробуйте позже, или возможно вы ошиблись в адресе</p>
      </div>
      <div>
        <button class="btn-theme" (click)="toReg()">РЕГИСТРАЦИЯ</button>
      </div>
    </div>
  </div>

</section>
<!-- Sign in Section End -->
