<!-- Sign in Section start -->
<section class="p-0">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="thanks-bg">
    <div class="thank-you">
      <img alt="thanks" class="img-fluid" src="assets/images/thanks.gif">
      <h3 class="mb-4">Спасибо за интерес!!! Мы отправили вам инвайт код на почту!</h3>
      <p class="mb-4">P.s Если вы там ничего нового не увидели, попробуйте позже</p>
    </div>
  </div>
</section>
<!-- Sign in Section End -->
