<div *ngIf="isPreview" class="meme-research-container animated fadeIn faster">
  <div class="meme-type-title">
    <p>{{types[meme.type]}}</p>
  </div>
  <div class="meme-chromosome">
    <img src="assets/images/icon/2.png">
    <p>{{meme.chromosomes}}</p>
  </div>
  <div *ngIf="isLoading" style="margin-top: 50px">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!isLoading">

    <div class="meme-research">
      <div *ngIf="meme.type === 'EVLV'">
        <app-evolve-adaptation [evolve]="evolve" *ngIf="evolve.step === 'ADAPTATION'"></app-evolve-adaptation>
        <app-evolve-fitness [evolve]="evolve" *ngIf="evolve.step === 'FITNESS'"></app-evolve-fitness>
        <app-evolve-mutation [evolve]="evolve" *ngIf="evolve.step === 'MUTATION'"></app-evolve-mutation>
        <app-evolve-crossing [evolve]="evolve" *ngIf="evolve.step === 'CROSSING'"></app-evolve-crossing>
        <app-evolve-survival [evolve]="evolve" *ngIf="evolve.step === 'SURVIVAL'"></app-evolve-survival>
      </div>

      <div *ngIf="meme.type === 'SLCT'">
        <div class="meme-research-chance">
          <p>МЕМ ЖДЁТ ОТБОР</p>
          <div class="meme-research-chance-img">
            <img src="assets/images/icon/thanos.png"/>
            <div>(выживут только 50% или иммунизированные)</div>
          </div>
          <p>ШАНС ПРОЙТИ ЕГО</p>
          <div class="meme-research-chance-circle">
            <p *ngIf="isChance">{{chance | number: '1.0-0'}}%</p>
            <div *ngIf="!isChance" style="margin-top: 12px">
              <app-spinner></app-spinner>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="meme.type === 'INDV'">
        <div class="meme-research-img">
          <img src="assets/images/icon/1.png">
        </div>
        <div class="meme-research-title">
          <p>мем прошел отбор и стал особью</p>
        </div>
        <div class="main-research-control">
          <button class="btn-theme" (click)="dipricated()">БИТВА</button>
        </div>
      </div>

      <div *ngIf="meme.type === 'DEAD'">
        <div class="meme-research-img">
          <img src="assets/images/icon/dead.png">
        </div>
        <div class="meme-research-title">
          <p>мем не выжил при отборе и умер</p>
        </div>
        <div class="main-research-control">
          <button class="btn-theme" (click)="dipricated()">ВОСКРЕСИТЬ</button>
        </div>
      </div>
    </div>

    <div class="meme-epi">
      <app-meme-epi [epi]="evolve.epi"></app-meme-epi>
    </div>

    <div class="meme-research-timer" style="margin-bottom: 50px">
      <app-timer [time]="evolve.nextTimer" [text]="'След.этап чрез'"></app-timer>
    </div>
  </div>
</div>
<div *ngIf="isPreview" class="research-close-wrap">
  <div class="research-close main-button-close" (click)="researchClose()">
    <i class="fa fa-close"></i>
  </div>
</div>
