<div *ngIf="isPreview" class="meme-research-container my-scroll animated fadeIn faster">
  <div class="meme-type-title">
    <p>{{typesText[meme.type]}}</p>
  </div>
  <div class="meme-type-img">
    <img [src]="typeIcons[meme.type]">
  </div>
  <div class="meme-chromosome">
    <p>{{meme.chromosomes}}<img src="assets/images/icon/2.png"></p>
  </div>
  <div class="meme-description">
    <div *ngIf="meme.type === typeMeme.EVLV">Этап эволюции: <img [src]="stepIcons[evolve?.step]"> {{stepText[evolve?.step]}}</div>
    <div *ngIf="meme.type === typeMeme.SLCT">Мем ожидает результаты отбора</div>
    <div *ngIf="meme.type === typeMeme.INDV">Мем прошел отбор и стал особью</div>
    <div *ngIf="meme.type === typeMeme.DEAD">Мем не выжел при отборе и умер</div>
    <div *ngIf="meme.type === typeMeme.BAAN">МЕМ БЫЛ ЗАБАНЕН, НЕ СОЗДАВАЙТЕ БОЛЬШЕ ТАКИЕ МЕМЫ</div>
  </div>
  <div *ngIf="isLoading" style="margin-top: 50px">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="meme-research">
      <div *ngIf="meme.type === typeMeme.EVLV">
        <app-evolve-adaptation [evolve]="evolve" *ngIf="evolve.step === stepEvlv.ADAPTATION"></app-evolve-adaptation>
        <app-evolve-fitness [evolve]="evolve" *ngIf="evolve.step === stepEvlv.FITNESS"></app-evolve-fitness>
        <app-evolve-mutation [evolve]="evolve" *ngIf="evolve.step === stepEvlv.MUTATION"></app-evolve-mutation>
        <app-evolve-crossing [evolve]="evolve" *ngIf="evolve.step === stepEvlv.CROSSING"></app-evolve-crossing>
        <app-evolve-survival [evolve]="evolve" *ngIf="evolve.step === stepEvlv.SURVIVAL"></app-evolve-survival>
      </div>
      <div *ngIf="meme.type === typeMeme.SLCT">
        <app-meme-type-select [meme]="meme"></app-meme-type-select>
      </div>
      <div *ngIf="meme.type === typeMeme.INDV">
        <app-meme-type-individ [meme]="meme"></app-meme-type-individ>
      </div>
      <div *ngIf="meme.type === typeMeme.DEAD">
        <app-meme-type-dead [meme]="meme"></app-meme-type-dead>
      </div>
      <div *ngIf="meme.type === typeMeme.BAAN">
        <div class="meme-research-ban">😰</div>
      </div>
    </div>
    <div class="meme-epi">
      <app-meme-epi [epi]="evolve.epi">;-(</app-meme-epi>
    </div>
    <div *ngIf="meme.type === typeMeme.EVLV" class="meme-research-timer" style="margin-bottom: 50px">
      <app-timer [time]="evolve.nextTimer" [text]="'След.этап чрез'"></app-timer>
    </div>
  </div>
</div>
<div *ngIf="isPreview" class="research-close-wrap">
  <div class="research-close main-button-close" (click)="researchClose()">
    <i class="fa fa-close"></i>
  </div>
</div>
