.meme-research-container {
  height: 99vh;
  padding: 30px;
  margin: 15px;
  position: relative;
  border-radius: 50px;
  background-color: whitesmoke;
  box-shadow: 0 0 91px -6px rgba(0,0,0,0.5);
  overflow-y: scroll;
  &::-webkit-scrollbar {width:0;}
}

.meme-type-title {
  text-align: center;
  background-color: #544ce2;
  border-radius: 90px;
  height: 48px;
  p {
    font-size: 30px;
    color: whitesmoke;
    padding-top: 10px;
  }
}

.meme-research {
  border: 5px dashed #585f82;
  border-radius: 50px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.meme-chromosome {
  text-align: center;
  img {
    width: 90px;
    margin: 15px;
    border-radius: 100%;
    border: 3px solid darkgreen;
    padding: 10px;
  }
  p {
    font-family: FuturaRound, serif;
    color: black;
    font-size: 32px;
    margin-top: -5px;
  }
}

.meme-epi {
  text-align: center;
  margin: 10px;
}

.meme-research-timer {
  text-align: center;
  width: 100%;
}

.research-close {
  top: -54px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.research-close-wrap {
  position: absolute;
  width: 100%;
}
