.meme-research-wrap {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  position: fixed;

  @media(max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
.meme-research-container {
  width: 100%;
  height: 100%;
  padding: 30px 30px 100px;
  border-radius: 50px;
  background-color: whitesmoke;

  &::-webkit-scrollbar-track {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media(max-width: 767px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.meme-type-title {
  text-align: center;
  background-color: #544ce2;
  border-radius: 90px;
  height: 48px;

  p {
    font-size: 30px;
    color: whitesmoke;
    padding-top: 10px;
  }

  @media(max-width: 767px) {
    height: 36px;
    p {
      padding-top: 7px;
      font-size: 24px;
    }
  }
}

.meme-research {
  border: 5px dashed #585f82;
  border-radius: 50px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    border-width: 3px;
    border-radius: 30px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.meme-type-img {
  text-align: center;

  img {
    width: 80px;
    margin: 15px;
    border-radius: 100%;
    border: 3px solid black;
  }

  @media(max-width: 767px) {
    img {
      width: 64px;
    }
  }
}

.meme-chromosome {
  text-align: center;

  img {
    width: 36px;
    margin-top: -8px;
  }

  p {
    font-family: FuturaRound, serif;
    color: darkgreen;
    font-size: 32px;
    margin-bottom: 0;
  }

  @media(max-width: 767px) {
    img {
      width: 28px;
    }
    p {
      font-size: 24px;
    }
  }
}

.meme-description {
  font-size: 22px;
  text-align: center;
  font-family: FuturaRound, serif;
  img {
    width: 36px;
  }

  @media(max-width: 767px) {
    font-size: 16px;
    img {
      width: 28px;
    }
  }
}

.meme-epi {
  text-align: center;
  margin: 10px;
}

.meme-research-timer {
  text-align: center;
  width: 100%;
}

.research-close {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 15px;
}

.meme-research-ban {
  text-align: center;
  font-size: 54px;
}
