<section class="work" id="work">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="section-title">
          <h2>ОСНОВНЫЕ РЕСУРСЫ</h2>
          <img alt="white-line" class="img-fluid" src="assets/images/title-line.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center">
        <div class="process-box">
          <img alt="" src="assets/images/icon/1.png"/>
          <h3>ОСОБИ</h3>
          <p>Особь - это мем который прошёл весь цикл эволюции и выжил при отборе</p>
          <img alt="" class="bg-icon" src="assets/images/icon/1.png"/>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="process-box">
          <img alt="" src="assets/images/icon/2.png"/>
          <h3>ХРОМОСОМЫ</h3>
          <p>Хромосомы определяют приспособленность мемов в окружающей среде</p>
          <img alt="" class="bg-icon" src="assets/images/icon/2.png"/>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <div class="process-box">
          <img alt="" src="assets/images/icon/3.png"/>
          <h3>ДНК</h3>
          <p>Это опыт для прокачки уровня и звания меметика, получаемый за исследования</p>
          <img alt="" class="bg-icon" src="assets/images/icon/3.png"/>
        </div>
      </div>
    </div>
  </div>
</section>
