<div>
  <div class="meme-research-img">
    <img src="assets/images/icon/dead.png">
  </div>
  <div class="meme-research-title">
    <p>мем не выжил при отборе и умер</p>
  </div>
  <div class="meme-resurrect-msg">
    <span>Вы можете воскресить мем, всего за {{resurrectPrice}}</span>
    <img [src]="'assets/images/icon/memecoin.png'">
  </div>
  <div class="main-research-control">
    <button class="btn-theme" (click)="resurrect()">ВОСКРЕСИТЬ</button>
    <p>(после воскрешения мем снова будет участвовать в отборе)</p>
  </div>
</div>
<app-loader [message]="loadMessage" [status]="loadStatus"></app-loader>
<app-accept [img]="'assets/images/icon/memecoin.png'" (accept)="resurrectAcceptResult($event)"></app-accept>
