.battle-arena-msg {
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  height: 300px;
  width: 300px;
  padding: 5px;

  text-align: center;
  font-size: 36px;
  font-family: Gost, serif;
}

.battle-arena-preview {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.battle-arena-meme {
  width: 100%;
  height: 45%;
  cursor: pointer;

  text-align: center;
  position: relative;

  img {
    border-radius: 30px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-width: 5px;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.battle-arena-control {
  height: 10%;
  width: 300px;
  text-align: center;
  margin: 5px auto;

  i {
    font-size: 64px;
    width: 64px;
  }

  img {
    width: 64px;
    height: 64px;
    animation: spinCookie 30s linear infinite;
  }

  .hover-vote {
    i {
      background-color: whitesmoke;
      border-radius: 15px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.battle-arena-combo {
  width: 100px;
  height: 50px;
  font-size: 32px;
  font-family: Gost, serif;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}

.battle-arena-home {
  position: absolute;
  bottom: 0;
  margin-bottom: 69px;
}

.hover-vote {
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.spinner-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.result-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.counter-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  color: white;
  background-color: #343a40;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.counter-vote-up {
  top: 0;
  margin-top: 150px;
}

.counter-vote-down {
  bottom: 0;
  margin-bottom: 150px;
}

.blur {
  filter: blur(3px);
}

@keyframes spinCookie {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
