.battle-arena-msg {
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  height: 300px;
  width: 300px;

  text-align: center;
  font-size: 36px;
  font-family: Gost, serif;
}

.battle-arena-preview {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.battle-arena-meme {
  width: 100%;
  height: 45%;

  text-align: center;

  img {
    border-radius: 50px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-width: 5px;
    max-height: 100%;
    max-width: 100%;
  }
}

.battle-arena-control {
  height: 10%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  i {
    font-size: 64px;
    width: 64px;
  }

  img {
    width: 64px;
    height: 64px;
    animation: spinCookie 30s linear infinite;
  }

  .hover-vote {
    i {
      background-color: whitesmoke;
      border-radius: 15px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

.test {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 100%;
}

.hover-vote {
  &:hover {
    animation: scaleVote 0.5s;
    animation-fill-mode: forwards;
  }
}

.spinner-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.result-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.counter-vote {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
  color: white;
  background-color: #343a40;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.counter-vote-up {
  top: 0;
  margin-top: 150px;
}

.counter-vote-down {
  bottom: 0;
  margin-bottom: 150px;
}

@keyframes scaleVote {
  100% {
    transform: scale(1.3);
  }
}

@keyframes spinCookie {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
