@import "src/assets/scss/base/_variable.scss";

.memotype-title {
  font-size: 48px;
  color: whitesmoke;
  margin-bottom: 10px;
  font-family: FuturaRound, serif;
  text-align: center;
}

.memotype-set {
  background: whitesmoke;
  border-radius: 50px;
  margin: 10px auto;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 90px -5px rgba(0,0,0,0.5);
  text-align: center;
}

.memotype-head {
  margin-left: 69px;
  div {
    display: inline-block;
    margin-left: 15px;
  }
}

.memotype-delimer {
  border: 2px solid #495057;
  width: 95%;
  border-radius: 30px;
  margin: 10px auto;
}

.memotype-set-info {
  i {
    font-size: 32px;
    color: #eab000;
    display: inline-block;
  }
  &:hover {
    i {
      color: $primary_color;
    }
  }
}

.memotype-set-name {
  font-size: 32px;
  font-family: Futurica, serif;
  color: black;
}

.memotype-set-count {
  font-size: 28px;
  font-family: Gost, serif;
  color: #495057;
}

.memotype-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.memotype-rarity {
  width: 10%;
  i {
    font-size: 32px;
  }
}

.memotype-list {
  width: 90%;
  text-align: left;
  border-radius: 30px;
  margin-bottom: 10px;
  div {
    display: inline-block;
  }
}

.memotype-element {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  span {
    display: block;
    color: #181b21;
    font-size: 24px;
    font-family: FuturaRound, serif;
  }
  img {
    width: 128px;
    height: 128px;
    opacity: 0.3;
  }
  div {
    font-size: 24px;
    font-family: Gost, serif;
    color: #212529;
    position: absolute;
    margin-top: 100px;
  }
}

.memotype-have {
  opacity: 1 !important;
  &:hover {
    animation: scale 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes scale {
  100% {
    transform: scale(1.5);
  }
}
