@import "src/assets/scss/base/_variable.scss";

.memotype-title {
  font-size: 48px;
  color: whitesmoke;
  margin-bottom: 10px;
  font-family: FuturaRound, serif;
  text-align: center;
}

.memotype-set {
  background: whitesmoke;
  border-radius: 50px;
  margin: 10px auto;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 90px -5px rgba(0,0,0,0.5);
  text-align: center;
}

.memotype-head {
  margin-left: 69px;
}

.memotype-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.memotype-rarity {
  width: 10%;
  i {
    font-size: 32px;
  }
}

.memotype-list {
  width: 90%;
  text-align: left;
  border-radius: 30px;
  margin-bottom: 10px;
  div {
    display: inline-block;
  }
}
