.memes {
  border-radius: 30px;
  padding-top: 10px;
  text-align: center;
}

.back {
  background: linear-gradient(to right, #5f57ea 0%, #9647db 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
}
