.memetick-container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  @media(max-width: 767px) {
    height: 69px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.memetick-number {
  height: 100%;
  width: 10%;

  p {
    float: right;
    margin-right: 30%;
    font-size: 69px;
    padding-top: 12px;
    color: whitesmoke;
    width: 48px;
    height: 48px;
    margin-top: 24px;
    text-align: center;
  }

  @media(max-width: 767px) {
    margin-left: 5px;
    p {
      font-size: 54px;
      margin-top: 10px;
      margin-right: 0;
    }
  }
}

.memetick-row {
  height: 100%;
  width: 90%;
}

.rating-text {
  font-size: 42px;
  color: whitesmoke;
  margin: 10px 5px 5px;
  text-align: center;
  font-family: Gost, serif;
  @media(max-width: 767px) {
    font-size: 24px;
  }
}

.rating-panel {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  padding: 5px;
  width: 300px;
  height: 69px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  text-align: center;

  -webkit-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 1);

  @media(max-width: 767px) {
    width: 250px;
    height: 54px;
  }
}

.rating-panel-img {
  height: 100%;
  width: 32%;

  img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
}

.rating-panel-del {
  height: 100%;
  width: 2%;
  background-color: #6c757d;
  border-radius: 50px;
}

.rating-empty {
  height: 100px;
}

.rating-to-home {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
