<div *ngIf="isLoad"  style="padding: 15px">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoad" class="donate-msg-content">
  <div class="donate-img">
    <img [src]="donate.avatar">
  </div>
  <div class="donate-msg">
    <div class="donate-msg-number">
      МЕССЕДЖ #{{donate.number}}
    </div>
    <div class="donate-msg-message">
      „ {{donate.message}} “
    </div>
    <div class="donate-msg-name">
      © {{donate.name}}
    </div>
  </div>
  <div class="donate-inf" *ngIf="info">
    <i class="fa fa-question-circle" (click)="messageInfo()"></i>
  </div>
</div>
