.history-load {
  i {
    margin-top: 8px;
    font-size: 20px;
  }
}

.history-mining {
  margin-bottom: 15px;
  img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
