<div>
  <div class="modal-header modal-section">
    <span class="modal-title">МОИ ТРАНЗАКЦИИ</span>
  </div>
  <div class="modal-body">
    <button class="btn-theme history-mining" type="submit" (click)="toMining()">
      МАЙНИНГ <img [src]="'assets/images/icon/pickaxe.png'">
    </button>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Рост</th>
        <th scope="col">Значение</th>
        <th scope="col">Дата</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of history; index as i">
        <td scope="row">{{ i + pageCurrent * pageSize - pageSize + 1}}</td>
        <td>
          <i *ngIf="transaction.value > 0" class="fa fa-chevron-up" [style.color]="'green'"></i>
          <i *ngIf="transaction.value < 0" class="fa fa-chevron-down" [style.color]="'red'"></i>
        </td>
        <td>
          <span *ngIf="transaction.value > 0">+</span>{{transaction.value}}
          <img [src]="'assets/images/icon/memecoin.png'" class="mr-2" style="width: 20px">
        </td>
        <td>{{ transaction.creating | date:'yyyy-MM-dd HH:mm'}}</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="pageCurrent"
        [pageSize]="pageSize"
        [maxSize]="3"
        (pageChange)="getHistory()">
      </ngb-pagination>
      <div class="history-load"><i *ngIf="isLoad" class="fa fa-circle-o-notch fa-spin sign-spinner"></i></div>
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="3">3</option>
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
    </div>

  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)=close();>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
