<app-template-modal [title]="'СОЗДАНИЕ МЕМА'">
  <div class="meme-create-modal">
    <ul>
      <li>1. Для создания мема нужна - клетка 🧿</li>
      <li>2. Клетка растет - 24 часа 🕘</li>
      <li>3. За создание вы получите - 100 ДНК * комбо 🧬</li>
      <li>4. Комбо = кол-во дней подряд созданных мемов (максимум 10) 🧰</li>
      <li>5. После создания ваш мем начинает проходить алгоритм эволюции 🌍</li>
    </ul>
    <img class="img-fluid" src="assets\images\steps\path.png">
    <div class="mini-btn" (click)="showEpi()">Значения: "ЭПИ"</div>
  </div>
</app-template-modal>
