@import "src/assets/scss/base/_variable.scss";

.home-chat-title {
  text-align: center;
  background-color: $middle_color;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
  border-radius: 15px 15px 0px 0px;
  font-family: FuturaRound, serif;
  cursor: pointer;

  &:hover {
    color: #dddddd;
  }

  i {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.home-chat-container {
  width: 69%;
  overflow-y: scroll;
  max-height: 333px;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: $middle_color;
  background-color: whitesmoke;

  @media(max-width: 767px) {
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.home-chat-btn {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
}

.home-chat-wrap {
  position: relative;
}
