<!-- Sign in Section start -->
<section class="p-0">
  <div class="auth-page error-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h2 class="error-font">4<span>0</span>4</h2>
            <h2 class="f-bold">
              ОЙ...
            </h2>
            <div class="col-lg-8 offset-lg-2 col-12">
              <h4>Как тебя сюда занесло? </h4>
              <h3>Надеемся это не наша вина ( ͡° ͜ʖ ͡° ) </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="c absolute">
      <i></i>
      <i></i>
      <i></i>
    </div>
  </div>
</section>
<!-- Sign in Section End -->
