<div class="memes-table animated zoomIn">
  <div class="memes-memetick">
    <div class="memes-memetick-avatar">
      <img *ngIf="data.avatar" [src]="data.avatar || ''" onError="this.src='assets/images/review.png';" (click)="memetickView(data.page?.memetick.id)">
    </div>
    <div class="memes-memetick-nick">
      <span> {{data.page?.memetick?.nick}} </span>
    </div>
    <div class="memes-memetick-step">
      <img *ngIf="data.page?.meme?.type === 'EVOLVE'" [src]="evolveIcons[data.page?.meme?.step]" (click)="evolveStepInfo(data.page?.meme?.step)">
    </div>
  </div>
  <div class="memes-image animated zoomIn slow">
    <img *ngIf="data.page?.meme.url" (click)='viewerEvent(data.page?.meme)' [src]="data.page?.meme.url || ''"
         [class.blur]="isMemeDeath(data.page.meme)">
  </div>
  <div class="memes-likes">
    <div class="like-icon-1">
      <div class="like-img-1">
        <img class="img-fluid" [@rotatedState]='data.chromosomeState' (click)="triggerChromosome(data)"
             src="assets/images/icon/2.png" [class.full]="fullChromosome(data) || isMemeDeath(data.page.meme)">
        <div class="chromosome-counter">
          <div [@counterState]='data.counterState' class="counter">
            <span>{{data.page?.likes.myChromosomes}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="like-count-1">
      <span class="likes-count">{{data.page?.meme.chromosomes}}</span>
    </div>
    <div class="likes-delimer" (click)="researcherEvent(data.page?.meme)">
      <img class="img-fluid" src="assets/images/icon/research.png">
    </div>
    <div class="like-count-2">
      <span class="likes-count">{{data.page?.likes.likes}}</span>
    </div>
    <div class="like-icon-2">
      <div class="like-img-2">
        <img class="img-fluid" [@bouncedState]='data.likeState' (click)="triggerLike(data)"
             [src]="data.page?.likes.myLike ? 'assets/images/icon/like_push.png' : 'assets/images/icon/like.png'">
      </div>
    </div>
  </div>
</div>
