.memes-table {
  border-radius: 50px;
  text-align: center;
  background: whitesmoke;
  box-shadow: 0 0 20px 3px #000000ab;
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 1366px) {
    width: 70%;
  }
  @media(max-width: 1199px) {
    width: 80%;
  }
  @media(max-width: 1024px) {
    width: 90%;
  }
  @media(max-width: 767px) {
    width: 100%;
  }
}

.memes-info {
  height: 70px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.memes-info-avatar {
  height: 100%;
  width: 20%;
  img {
    float: left;
    max-width: 100%;
    max-height: 100%;
  }
}

.memes-info-nick {
  height: 100%;
  width: 50%;
  span {
    font-family: Futurica, serif;
    float: left;
    margin-left: 10px;
    color: #212529;
    font-size: 32px;
    margin-top: 14px;
  }
  @media(max-width: 767px) {
    span {
      font-size: 28px;
    }
  }
}

.memes-info-indexer {
  height: 100%;
  width: 15%;
  color: black;
  span {
    float: right;
    margin-top: 12px;
    font-size: 32px;
  }
  @media(max-width: 767px) {
    span {
      margin-top: 12px;
      font-size: 28px;
    }
  }
}

.memes-info-step {
  height: 100%;
  width: 15%;
  img {
    float: right;
    max-width: 100%;
    max-height: 100%;
  }
  @media(max-width: 767px) {
    img {
      margin-top: 4px;
    }
  }
}

.memes-image {
  background: white;
  img {
    max-width: 100%;
    max-height: 600px;
  }
}

.memes-likes {
  height: 70px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.like-icon-1 {
  width: 80%;
  height: 100%;
  margin-left: 15px;
}

.like-img-1 {
  float: left;
  width: 54px;
  margin-top: 8px;
}

.like-icon-2 {
  width: 80%;
  height: 100%;
  margin-right: 15px;
}

.like-img-2 {
  float: right;
  width: 54px;
  margin-top: 8px;
}

.like-count-1 {
  height: 100%;
  width: 100%;
}

.like-count-2 {
  height: 100%;
  width: 100%;
}

.likes-count {
  color: black;
  font-family: FuturaRound, serif;
  font-size: 25px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.likes-delimer {
  height: 100%;
  width: 100%;
  img {
    margin-top: 8px;
    width: 55px;
  }
}

.full {
  opacity: 0.5;
}

.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

@keyframes slider {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-30px)
  }
  60% {
    transform: translateY(-15px)
  }
}

.chromosome-counter {
  width: 0;
  height: 100%;
  position: relative;
}

.counter {
  position: absolute;
  margin-left: 11px;
  opacity: 0;
  margin-top: -80px;
  width: 32px;
  height: 32px;
  background-color: darkgreen;
  border-radius: 100%;
  span {
    padding-top: 4px;
    font-size: 20px;
    color: whitesmoke;
  }
}
