.memes-table {
  border-radius: 50px;
  text-align: center;
  background: whitesmoke;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 1500px) {
    width: 60%;
  }
  @media(max-width: 1366px) {
    width: 70%;
  }
  @media(max-width: 1199px) {
    width: 80%;
  }
  @media(max-width: 1024px) {
    width: 90%;
  }
  @media(max-width: 767px) {
    width: 100%;

    border-radius: 40px;
    margin-top: 15px;
  }
}

.memes-info {
  height: 64px;
  display: flex;
  @media(max-width: 767px) {
    height: 54px;
  }
}

.memes-info-avatar {
  height: 100%;
  width: 15%;
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    max-height: 100%;
    height: auto;
    cursor: pointer;
  }
}

.memes-info-nick {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
  div {
    font-size: 28px;
    font-family: Futurica, serif;
    color: #212529;
  }
  @media(max-width: 767px) {
    div {
      margin-left: 5px;
      font-size: 20px;
    }
  }
}

.memes-info-indexer {
  height: 100%;
  color: black;
  font-size: 32px;
  display: flex;
  align-items: center;
  @media(max-width: 767px) {
    font-size: 28px;
  }
}

.memes-info-step {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    cursor: pointer;
    max-height: 100%;
    height: auto;
  }
}

.memes-info-type {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding: 3px;
    cursor: pointer;
    max-height: 100%;
    height: auto;
  }
}

.memes-image {
  cursor: pointer;
  background: white;
  img {
    max-width: 100%;
    max-height: 600px;
  }
}

.memes-load {
  height: 100px;
  width: 100%;
}

.memes-likes {
  height: 64px;
  display: flex;
  @media(max-width: 767px) {
    height: 54px;
  }
}

.like-icon {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  img {
    max-height: 100%;
    height: auto;
    cursor: pointer;
  }
}

.like-count {
  height: 100%;
  width: 25%;
  color: black;
  font-family: FuturaRound, serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes-delimer {
  height: 100%;
  width: 20%;
  cursor: pointer;
  img {
    transition: 0.2s ease-in-out;
    max-height: 100%;
    height: auto;
    padding: 3px;
  }
  &:hover {
    img {
      background-color: #dbdbdb;
      border-radius: 15px;
      padding: 5px;
    }
  }
}

.full {
  opacity: 0.5;
}

.blur {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes slider {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0)
  }
  40% {
    transform: translateY(-30px)
  }
  60% {
    transform: translateY(-15px)
  }
}

.chromosome-counter {
  width: 0;
  height: 100%;
  position: relative;
}

.counter {
  position: absolute;
  opacity: 0;
  width: 32px;
  height: 32px;
  background-color: darkgreen;
  border-radius: 100%;
  font-size: 20px;
  color: whitesmoke;
  left: -42px;
  bottom: 62px;
  @media(max-width: 767px) {
    font-size: 18px;
    left: -36px;
    bottom: 52px;
    width: 28px;
    height: 28px;
  }
}

.notFirstChromosome {
  animation: triggleChromosome 3s;
}

.firstChromosome {
  animation: triggleChromosome 3s infinite;
}

@keyframes triggleChromosome {
  0% {
    transform: rotate(20deg);
  }
  5% {
    transform: rotate(-20deg);
  }
  10% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(-20deg);
  }
  30%, 0% {
    transform: rotate(0deg);
  }
}
