<div class="memes-table animated zoomIn">
  <div class="memes-info">
    <div class="memes-info-avatar">
      <img *ngIf="data.avatar" [src]="data.avatar || ''" (click)="memetickCard()">
    </div>
    <div class="memes-info-nick">
      <div>{{data.page?.memetick?.nick}} </div>
    </div>
    <div class="memes-info-step" *ngIf="data.page?.meme?.type === 'EVLV'; else memeInfoType">
      <div class="memes-info-indexer">#{{data.page?.meme.epi.individuation}}</div>
      <img [src]="stepIcons[data.page?.step]" (click)="evolveStepInfo(data.page?.step)">
    </div>
    <ng-template #memeInfoType>
      <div class="memes-info-type">
        <img [src]="typeIcons[data.page?.meme?.type]" (click)="memeTypeInfo(data.page?.meme?.type)">
      </div>
    </ng-template>
  </div>
  <div class="meme-page-text-view" *ngIf="data.page?.meme?.text">
    <app-meme-text-view [textMeme]="data.page?.meme?.text"></app-meme-text-view>
  </div>
  <div class="memes-image">
    <img [src]="data.page?.meme.url"
         (click)='viewerEvent(data.page?.meme)'
         (load)="loadMeme(data)"
         [class.blur]="data.page?.meme.type === 'DEAD'">
    <div class="memes-load" *ngIf="!data?.loadState">
      <app-dna-spinner></app-dna-spinner>
    </div>
  </div>
  <div class="meme-page-comment" *ngIf="data.page?.comment">
    <app-comment-best [comment]="data.page?.comment"></app-comment-best>
  </div>
  <div class="memes-likes">
    <div class="like-icon">
      <img class="img-fluid select-none"
           src="assets/images/icon/2.png"
           style="margin-left: 15px"
           (click)="triggerChromosome(data)"
           [@rotatedState]='data.chromosomeState'
           [class.notFirstChromosome]="!data.page?.likes.firstChromosome"
           [class.firstChromosome]="data.page?.likes.firstChromosome"
           [class.full]="data.page?.likes.myChromosomes >= 100">
      <div class="chromosome-counter">
        <div [@counterState]='data.counterState' class="counter">
          {{data.page?.likes.myChromosomes}}
        </div>
      </div>
    </div>
    <div class="like-count">{{data.page?.meme.chromosomes}}</div>
    <div class="likes-delimer" (click)="memeResearch()">
      <img class="img-fluid select-none" src="assets/images/icon/research.png">
    </div>
    <div class="like-count">{{data.page?.meme.likes}}</div>
    <div class="like-icon">
      <img class="img-fluid select-none"
           style="margin-right: 15px"
           (click)="triggerLike(data)"
           [@bouncedState]='data.likeState'
           [src]="data.page?.likes.myLike ? 'assets/images/icon/like_push.png' : 'assets/images/icon/like.png'">
    </div>
  </div>
</div>
