@import "src/assets/scss/base/_variable.scss";

.shop-container {
  background: whitesmoke;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 91px -6px rgba(0,0,0,0.5);
  text-align: center;
  color: #212529;
  i {
    color: $primary_color;
  }
}

.shop-product {
  padding: 10px;
}

.shop-title {
  font-size: 25px;
  border-bottom: 3px solid $middle_color;
  font-weight: normal;
  padding-bottom: 20px;
}

.my-button-close {
  margin: auto auto 10px;
}
