<div class="control-content-wrap">
  <div class="control-content-empty"></div>

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="settings()">
      <i class="fa fa-wrench"></i> НАСТРОЙКИ
    </button>
  </div>

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="profile()">
      <i class="fa fa-user"></i> ПРОФИЛЬ
    </button>
  </div>

<!--  <div class="form-group control-menu-button">-->
<!--    <button class="btn-theme-inverse" type="submit" (click)="chat()">-->
<!--      <i class="fa fa-commenting"></i> ЧАТ-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="form-group control-menu-button">-->
<!--    <button class="btn-theme-inverse" type="submit" (click)="lab()">-->
<!--      <i class="fa fa-flask"></i> ЛАБОРАТРИЯ-->
<!--    </button>-->
<!--  </div>-->

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="creed()">
      <i class="fa fa-book"></i> КОДЕКС
    </button>
  </div>

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="home()">
      <i class="fa fa-home"></i> ДОМОЙ
    </button>
  </div>

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="donaters()">
      <i class="fa fa-rocket"></i> ПОДДЕРЖАТЬ
    </button>
  </div>

  <div class="form-group control-menu-button">
    <button class="btn-theme-inverse" type="submit" (click)="exit()">
      <i class="fa fa-sign-out"></i> ВЫЙТИ
    </button>
  </div>

  <div class="control-content-empty"></div>
</div>
