<div class="comment-title" *ngIf="withTitle">Комментарии:</div>
<div class="comment-wrap my-scroll">
  <div *ngIf="commentsLoad; else commentNotLoad">
    <div *ngFor="let comment of comments">
      <app-comment-row [comment]="comment" [avatar]="memetickAvatars[comment.memetickId]"></app-comment-row>
      <div class="comment-del"></div>
    </div>
    <div class="comment-empty" *ngIf="comments.length == 0">
      {{emptyText}}
    </div>
  </div>
  <ng-template #commentNotLoad>
    <app-spinner></app-spinner>
  </ng-template>
</div>
