<!-- Sign in Section start -->
<section class="auth-page">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="download">
    <img alt="down" class="img-fluid icon" src="assets/images/other-page/down.png">
    <h3>Your download should begin automatically</h3>
    <h4>If it doesn’t start automatically, <a class="manual-down" href="#">please click here to downlaod manually.</a>
    </h4>
    <a [routerLink]="'/home'"><img alt="logo" class="mt-3" src="assets/images/title-logo.png"></a>
  </div>
</section>
<!-- Sign in Section End -->
