/* modal animation */
.modal-content{
  animation-name: modal;
  animation-duration: 0.3s;
}

@keyframes modal {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.text-center-absolute {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
