/* modal animation */
.modal-content{
  animation-name: modal;
  animation-duration: 0.3s;
}

@keyframes modal {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.flex-center-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.super-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.text-strong-center {
  display: table;
  text-align: center;
  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.text-strong-middle {
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}
