.memotype-list {
  border-radius: 30px;
  margin-bottom: 10px;
  max-height: 500px;

  div {
    display: inline-block;
  }
}

.memotype-wrap {
  padding-top: 15px;
}

.memotype-buy {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
