.home-hello {
  color: #000;
  font-size: 64px;
  padding-bottom: 15px;
  line-height: 64px;
}

.home-info {
  padding-bottom: 10px;
  font-size: 20px;
}

.home-table {
  border-radius: 50px;
  background-color: #0000001f;
  padding: 15px;
  width: 50%;
}

.home-button {
  padding: 10px;

  button {
    border-radius: 30px;
    font-size: 22px;
    width: 250px;
  }
}


