.home-hello {
  color: #000;
  font-size: 64px;
  padding-bottom: 15px;
  line-height: 64px;
  overflow-x: hidden;
  @media(max-width: 991px) {
    font-size: 40px;
  }
}

.home-logo {
  border-radius: 0 0 30px 30px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  position: fixed;
  width: 250px;
  background: linear-gradient(to right, #5f57ea 0%, #9647db 100%);
  img {
    padding: 15px;
    max-width: 250px;
    height: auto;
  }
}

.home-table-hello {
  padding: 15px;
}

.home-table {
  margin-top: 30px;
  border-radius: 50px;
  background-color: #0000000f;
  p {
    margin-bottom: 0;
  }
}

.home-info {
  padding-bottom: 10px;
  font-size: 20px;
}

.home-buttons {
  padding-top: 30px;
  padding-bottom: 22px;
}

.home-button {
  button {
    font-family: FuturaRound, serif;
    border-radius: 30px;
    font-size: 20px;
    width: 250px;
  }
}

.home-container {
  margin-top: 100px;
  @media(max-width: 991px) {
    margin-top: 70px;
  }
}

.home-stats {
  p {
    font-family: FuturaRound, serif;
    font-size: 32px;
    padding: 20px;
    color: black;
  }
  @media(max-width: 991px) {
    p {
      font-size: 28px;
    }
  }
}

.home-picker {
  padding: 10px;
  img {
    width: 72px;
    height: 72px;
  }
  p {
    margin-top: 10px;
    font-family: Futurica, serif;
    font-size: 24px;
  }
  @media(max-width: 991px) {
    p {
      font-size: 18px;
    }
  }
}

