.home-hello {
  color: #000;
  font-size: 64px;
  padding-bottom: 15px;
  line-height: 64px;
}

.home-table {
  margin-top: 30px;
  border-radius: 50px;
  background-color: #0000000f;
  p {
    margin-bottom: 0px;
  }
  //align-items: center;
  //justify-content: center;
}

.home-info {
  padding-bottom: 10px;
  font-size: 20px;
}

.home-buttons {
  padding-top: 30px;
  padding-bottom: 22px;
}

.home-button {
  button {
    font-family: FuturaRound, serif;
    border-radius: 30px;
    font-size: 20px;
    width: 250px;
  }
}

.home-stats {

}

