<app-open-intro-modal></app-open-intro-modal>
<!--<app-header></app-header>-->
<!--<app-intro></app-intro>-->
<!--<app-about></app-about>-->
<!--<app-feature></app-feature>-->
<!--<app-how-it-work></app-how-it-work>-->
<!--<app-screenshot></app-screenshot>-->
<!--<app-testimonial></app-testimonial>-->
<!--<app-faq></app-faq>-->
<!--<app-team></app-team>-->
<!--<app-price></app-price>-->
<!--&lt;!&ndash;<app-blog></app-blog>&ndash;&gt;-->
<!--<app-contact-us></app-contact-us>-->
<!--<app-download></app-download>-->
<!--&lt;!&ndash;<app-news-letter></app-news-letter>&ndash;&gt;-->
<!--<app-footer></app-footer>-->
