<!-- copy-right-section -->
<footer class="cpoy-right-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="social-footer">
          <img src="assets/images/super_evolution.png" alt="1" class="img-fluid align-self-center">
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p class="copyright">{{today | date:'y'}} Copyright by Memastick Powered by Toxin</p>
      </div>
    </div>
  </div>
</footer>
<!--end copy right section-->
<!-- Tap to top -->
<div class="tap-top">
  <div>
    <i class="fa fa-sort-up" aria-hidden="true"></i>
  </div>
</div>
<!-- Tap to top end -->
