.btn-donater {
  font-size: 18px;

  @media(max-width: 767px) {
    font-size: 14px;
  }
}

.footer-evolve-image {
  max-width: 200px;
  width: 100%;
  @media(max-width: 767px) {
    max-width: 150px;
  }
}
