<!-- Sign in Section start -->
<section class="auth-page theme-bg">
  <div class="animation-circle-inverse">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="animation-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="header-form">
    <img class="img-fluid" src="assets/images/mem-logo.png">
  </div>
  <div class="auth-card">
    <div class="text-center">
      <h2>ВОССТАНОВЛЕНИЕ</h2>
      <img alt="title-line" class="img-fluid line" src="assets/images/title-line.png">
      <p>Мы отправим тебе код для восстановления пароля</p>
    </div>
    <div class="main">
      <form class="auth-form">
        <div class="form-group">
          <label for="exampleInputEmail1">Почта</label>
          <i class="fa fa-envelope-o"></i>
          <input class="form-control" id="exampleInputEmail1" name="login[username]" placeholder="Email" required="" type="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Новый пароль</label>
          <i class="fa fa-lock"></i>
          <input class="form-control" id="exampleInputPassword1" name="login[password]" placeholder="NEW Password" required="" type="password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Повтор новго пароля</label>
          <i class="fa fa-lock"></i>
          <input class="form-control" id="exampleInputPassword2" name="login[passwordReset]" placeholder="NEW Password repeat" required="" type="password">
        </div>
        <div class="form-group">
          <label for="exampleInputCode">Код</label>
          <i class="fa fa-info"></i>
          <input class="form-control" id="exampleInputCode" name="login[code]" placeholder="Code" required="" type="text">
        </div>
        <div class="form-group sign-button">
          <button class="btn submit" type="submit">ОТПРАВИТЬ</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Sign in Section End -->
