<!-- contact-section -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title">
          <h2>ИНВАЙТ</h2>
          <span class="msg-invite">*сервис находится в процессе разработки, но ты можешь отправить заявку на инвайт код для тестирование сейчас*</span>
        </div>
        <form class="auth-form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputName1">Никнейм</label>
            <i class="fa fa-user"></i>
            <input [formControl]="contactForm.controls['nick']" class="form-control" id="exampleInputName1" name="nick"
                   placeholder="Никнейм"
                   required="" type="text">
            <div *ngIf="contactForm.controls.nick.touched && contactForm.controls.nick.errors?.required"
                 class="text text-danger">Никнейм пуст
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail12">Почта</label>
            <i class="fa fa-envelope-o"></i>
            <input [formControl]="contactForm.controls['email']" class="form-control" id="exampleInputEmail12"
                   name="email"
                   placeholder="Email" required="">
            <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email"
                 class="text text-danger">Кривое мыло
            </div>
          </div>
          <div class="form-group mb-0">
            <button [disabled]="!contactForm.valid" class="btn-theme" type="submit">ОТПРАВИТЬ</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="section-title">
          <h2>КОНТАКТЫ</h2>
        </div>
        <p>Искать нас можешь тут</p>
        <ul class="contact-box">
          <li>
            <a href="https://boomstarter.ru/" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-rocket"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Стартап</h3>
              <a href="https://boomstarter.ru/" target="_blank"><p class="contact-href">
                https://boomstarter.ru/(скоро)</p></a>
            </div>
          </li>
          <li>
            <a href="http://t.me/memastick" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-paper-plane"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Телеграмм</h3>
              <a href="http://t.me/memastick" target="_blank"><p class="contact-href">t.me/memastick</p></a>
            </div>
          </li>
          <li>
            <a href="mailto:help@memastick.ru" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-envelope"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Почта</h3>
              <a href="help@memastick.ru" target="_blank"><p class="contact-href">help@memastick.ru</p></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

