<!-- contact-section -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="section-title-first section-title">
          <h2>СЕТИ</h2>
        </div>
        <p>Наше комьюнити тут</p>
        <ul class="contact-box">
          <li>
            <a href="http://t.me/memastick" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-telegram"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Телеграмм</h3>
              <a href="http://t.me/memastick" target="_blank"><p class="contact-href">t.me/memastick</p></a>
            </div>
          </li>
          <li>
            <a href="https://vk.com/memastick" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-vk"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Вконтакте</h3>
              <a href="https://vk.com/memastick" target="_blank"><p class="contact-href">vk.com/memastick</p></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <div class="section-title-second section-title">
          <h2>КОНТАКТЫ</h2>
        </div>
        <p>Поддержать нас можешь тут</p>
        <ul class="contact-box">
          <li>
            <a href="https://boomstarter.ru/" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-rocket"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Стартап</h3>
              <a href="https://boomstarter.ru/" target="_blank"><p class="contact-href">
                https://boomstarter.ru/(скоро)</p></a>
            </div>
          </li>
          <li>
            <a href="mailto:help@memastick.ru" target="_blank">
              <div class="contact-circle">
                <i aria-hidden="true" class="fa fa-envelope"></i>
              </div>
            </a>
            <div class="contact-text">
              <h3>Почта</h3>
              <a href="mailto:help@memastick.ru" target="_blank"><p class="contact-href">help@memastick.ru</p></a>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!-- end contact section -->

