<div>
  <div class="modal-header modal-section">
    <span class="modal-title">ЛАБ - ИНФО</span>
  </div>
  <div class="modal-body intro-modal">
    <ul class="list-group lab-info-list">
      <li class="list-group-item">
        <strong>1. Размер</strong> -
        задай нужную тебе ширину и высоту холста в пиксилях
      </li>
      <li class="list-group-item">
        <strong>2. Опции</strong> -
        интсрументы для работы с выделеными обьектами
      </li>
      <li class="list-group-item">
        <strong>3. Текст</strong> -
        добавь любой текст, с нужным тебе стилем
      </li>
      <li class="list-group-item">
        <strong>4. Холст</strong> -
        поставь на фон холста цвет или изображение
      </li>
      <li class="list-group-item">
        <strong>5. Изображение</strong> -
        загрузи или перетащи нужное тебе изображение
      </li>
      <li class="list-group-item">
        <strong>6. Обьект</strong> -
        индивидульаные настройки для обьектов
      </li>
      <li class="list-group-item">
        <strong>7. Фигуры</strong> -
        создай сплошную фигуру любого цвета и размера
      </li>
    </ul>
  </div>
  <div class="modal-footer modal-section">
    <button type="button" class="modal-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
