<!-- slider-section -->
<section class="slide-bg" id="start">
  <div class="animation-circle-inverse left-circle">
    <i></i>
    <i></i>
    <i></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex-1">
          <div class="slide-text">
            <div>
              <app-mem-logo></app-mem-logo>
              <div class="slid-btn">
                <img alt="app1" class="img-fluid" data-tilt data-tilt-max="1.8" data-tilt-perspective="50"
                       data-tilt-speed="350" src="assets/images/app1.png" (click)="toSignUp()">
                <img alt="app2" class="img-fluid" data-tilt data-tilt-max="1.8" data-tilt-perspective="50"
                       data-tilt-speed="350" src="assets/images/app2.png" (click)="toSignIn()">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="start-right">
          <div class="mobile-slid">
            <img alt="top1" class="img-fluid" src="assets/images/top-mobile.png">
          </div>
          <div class="profile-msg intro-message">
            <img alt="top2" class="img-fluid" src="assets/images/top2.png">
          </div>
          <div class="awesome intro-message">
            <img alt="top3" class="img-fluid" src="assets/images/top3.png">
          </div>
          <div class="profile-1">
            <img alt="top4" class="img-fluid" src="assets/images/top4.png">
          </div>
          <div class="profile-3">
            <img alt="top5" class="img-fluid" src="assets/images/top5.png">
          </div>
          <div class="profile-2">
            <img alt="top1" class="img-fluid" src="assets/images/top1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end slider section -->
