.memotype-element {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;

  span {
    display: block;
    color: #181b21;
    font-size: 20px;
    font-family: FuturaRound, serif;
  }
  img {
    width: 128px;
    height: 128px;
    opacity: 0.3;
    margin-left: auto;
    margin-right: auto;
  }
  div {
    font-size: 24px;
    font-family: Gost, serif;
    color: #212529;
    position: absolute;
    margin-top: -20px;
    margin-left: 120px;
  }

  @media(max-width: 767px) {

    img {
      width: 64px;
      height: 64px;
    }

    span {
      font-size: 14px;
    }

    div {
      font-size: 18px;
      margin-left: 70px;
    }
  }
}

.memotype-rarity {
  text-align: center;
  font-family: Gost, serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  i {
    margin-right: 5px;
  }
  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.memotype-have {
  opacity: 1 !important;

  &:hover {
    animation: scale 0.5s;
    animation-fill-mode: forwards;
  }

  @media(max-width: 767px) {
    &:hover {
      animation: scaleTwo 0.5s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes scale {
  100% {
    transform: scale(1.5);
  }
}

@keyframes scaleTwo {
  100% {
    transform: scale(2);
  }
}
